 
    <div class="sections">
        <div class="container">
            <div class="pages-title">
                <h1>Transparencia <br> <span>Solicitud de Información</span></h1>
                <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Solicitud de Información</a></p>
            </div>
        </div>  
    </div>
    
    <!-- CONTENT START -->
    <section>
        <div class="container">
            <div class="row">
              <!-- CONTACT INFO START -->
              <div class="col-lg-4">
                <div class="contact-info">
                  <h2>Formulario de solicitud de información</h2>
                  <p>Complete los datos del siguiente formulario para solicitar información. Esta solicitud será atendida a la brevedad posible </p>
                  
                </div>
              </div>
              <!-- CONTACT INFO END -->
                
              <!-- CONTACT FORM START -->    
              <div class="col-lg-8 space-break">
                <div class="contact-form">
                    <form id="contact-form" method="post" action="contact.php">
                        <div class="messages"></div>
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_name" type="text" name="name" class="form-control customize" placeholder="Nombres y Apellidos / Razón Social / Anónimo:" required="required" data-error="El nombre es requerido.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="form_ci" type="number" name="ci" class="form-control customize" placeholder="Documento de identidad" required="required" data-error="El nombre es requerido.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select class="custom-select"  class="customizeSelect" id="departamento">
                                            <option selected>Elija un departamento</option>
                                            <option value="1">Beni</option>
                                            <option value="2">Cochabamaba</option>
                                            <option value="3">La Paz</option>
                                            <option value="4">Santa cruz</option>
                                            <option value="5">Oruro</option>
                                            <option value="6">Pando</option>
                                            <option value="7">Sucre</option>
                                            <option value="8">Potosí</option>
                                            <option value="9">Tarija</option>
                                          </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_direcc" type="text" name="direccion" class="form-control customize" placeholder="Domicilio" required="required" data-error="El domicilio es requerido.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="form_nprov" type="text" name="provincia" class="form-control customize" placeholder="Provincia" required="required" data-error="El nombre es requerido.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="form_phone" type="tel" name="phone" class="form-control customize" placeholder="Por favor, ingrese su teléfono">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_email" type="email" name="email" class="form-control customize" placeholder="Correo electrónico" required="required" data-error="Es requerido un correo válido.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                               
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_info" type="text" name="informacion" class="form-control customize" placeholder="Información Solicitada" required="required" data-error="El titulo de la información es requerido.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        
                                        <select class="custom-select" class="customizeSelect" id="dependencia">
                                            <option selected>Dependencia de la cual Requiere la Información</option>
                                            <option value="1">Presidencia ejecutiva</option>
                                            <option value="2">Vicepresidencia</option>
                                            <option value="3">Unidad Jurídica</option>
                                            <option value="4">Unidad Auditoría Interna</option>
                                          </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        
                                        <select class="custom-select"  class="customizeSelect" id="entrega">
                                            <option selected>Entrega de la información</option>
                                            <option value="1">Copia Simple</option>
                                            <option value="2">Email</option>
                                            <option value="3">Carta</option>
                                            <option value="4">Otro</option>
                                          </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p><input type="submit" class="btn btn-custom" value="Enviar Solicitud"></p>
                                </div>
                            </div>
                        </div>
                    </form>  
                </div>
              </div>
              <!-- CONTACT FORM START -->   
            </div>
        </div>
    
       
    </section> 
    <!-- CONTENT START -->

