$dg-narrow: 700px;
$dg-wide: 1000px;

@mixin dg-wide {
  @media (min-width: #{$dg-wide}) {
    @content;
  }
}

@mixin dg-narrow {
  @media (min-width: #{$dg-narrow}) {
    @content;
  }
}



* { box-sizing: border-box; }

.clearfix {
  content: '';
  display: table;
  clear: both;
}



.download-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.download-card {  
  display: flex;
  flex-direction: column;
//   width: calc(100% - 2em);
  width: 100%;
  background: #fbfbfb;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 1em;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid #d2d2d2;
  border-left: 1px solid #dadada;
  min-height: 350px;
//   margin: 0 1em 2em 1em;
  
  // -- Card in Grid View 
  .download-cards[data-view='grid-view'] & {
    
    @include dg-narrow { 
      float: left;
      width: calc( 50% - 2em );
      &:nth-child(3){ clear: both; }
      &:nth-child(4){ clear: initial; }
    }
    
    @include dg-wide { 
      width: calc( (100% / 3) - 2em );
      &:nth-child(3){ clear: initial; }
      &:nth-child(4){ clear: both; }
    }
  } // -- End Grid View
  
  &__icon-box {   
    // display: flex;
    // align-items: center;
    background: #f1f1f1;
    padding: 1em;
    // text-align: center;
    
    @include dg-narrow { justify-content :center;}
    
    img {
      width: 50%;
      max-width: 200px;   
      margin: 0 auto;
    }

    .download-dates {
      margin-top: 2em;
      text-align: right;
      display: block;
      clear: both;
      width: 100%;
    }
    
    // --- Icon Box in List View 
    .download-cards[data-view='list-view'] & {    
      @include dg-narrow {
        width: 170px;
        position: absolute;    
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-right: 1px solid #e6e6e6;
      }  
    } // --- End Icon Box in List View   
  }
 
  &__content-box {  
    padding: 2em 2em 3em;  
    flex: 1;
    
    // -- Content Box in List View
    .download-cards[data-view="list-view"] & {
      @include dg-narrow { padding-left: calc(160px + 2em); }
    } // -- End Content Box in List View
    
    &__catagory {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 10px;
      margin: 0 0 2em;   
      &::before {
        content: '| ';
        color: #94bc20;
      }
    }

    &__title {
      line-height: 1;
      margin: 0 0 .5em;
      font-size: 18px;}
    
    &__description {
      line-height: 1.5;
      padding: 0;
      margin: 0 0 1em;
      clear: both;
      color: #929292;
      font-size: 16px;
    } 
    .button {
      position:absolute;
      bottom:2em;   
      margin:0;
      color: #94bc20;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 13px;
    }
  }
}


.dc-view-switcher {
  display: none;
  margin: 1em;
  text-align: right;
  
  @include dg-narrow {
    display: block;
  } 
  
  & > button {
    font-family: 'fontAwesome';  
    background-color: transparent; 
    background-repeat: no-repeat; 
    background-position: 0px 0px; 
    border: none;    
    cursor: pointer;  
    font-size: 1.5em;
    vertical-align: middle;
    color: gray;
    opacity: 0.3;
    outline: none;
    transition: opacity .4s ease;

    &[data-trigger="list-view"] { &::before { content: "\f00b"; } }
    &[data-trigger="grid-view"] { &::before { content: "\f009"; } }
    &[data-trigger].active { opacity: 1; }
  
  }
}



//tabla 

table {
  font-family: 'Poppins', sans-serif;
	width: 100%; 
	border-collapse: collapse; 
	margin:10px auto;
	}

  .table-fixed{
 
    tbody{
      height:120px;
      overflow-y:auto;
      width: 100%;
      }
    
    
  }

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #11505d; 
	color: white; 
	font-weight: 500; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 15px;
  }
  
  td a.btn {
    font-size: 12px!important;
    text-transform: capitalize;
  }

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}


// search box

/* Styles for wrapping the search box */

.main {
  width: 100%;
  margin: 50px auto;
  font-family: 'Poppins', sans-serif;
  
}

.form-control {
  font-size: 15px!important;
}
.input-group-append button {
  font-size: 15px!important;
}
/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}


// lista

.lista{
  margin-top: 1rem;
}   
  
.lista p{
  font-size: 14px;
  line-height: 1.6;
}
  
.lista-files .list-group-item {
  position: relative;
  display: block;
  padding: 10px 20px;
  margin-bottom: -1px;
  background-color: #F5F5F5;
  border: none;
  border-radius: 0px;
  margin-bottom: 5px;
  transition: 0.3s ease;
  cursor: pointer;
  text-align: left;
  color: #333;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
}
  
.lista-files .list-group-item:hover {
  background-color: #11505d;
  color: #FFF;
} 

.lista-files{
  margin-top: 1rem;
}
  
.lista-files .list-group-item .fas{
  margin-right: 15px;
  color: #94bc20;
  transition: 0.3s ease;
}   
  
.lista-files .list-group-item:hover .fas{
  margin-right: 15px;
  color: #FFF;
} 

