<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Proyectos <br> <span>Ciclo Combinado</span></h1>
            <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Ciclo Combinado</a></p>
        </div>
    </div>  
</div>
<!-- CONTENT START -->
<section>
    <div class="container">
        <!-- PROJECT GALLERY START -->
        <div class="row project-col">
            <div class="col-lg-6">
                
                <figure class="third-preview"><img src="assets/img/imagenes/cc2.jpg" alt=""></figure> 
            </div>
          <div class="col-lg-6">
            <div class="ab-details">
                <h3>¿Que es un Ciclo Combinado?</h3>
                <p>Con el fin me mejorar la eficiencia en la generación, se aprovecha el calor en el escape de la turbina a gas para calentar agua y generar vapor.</p>
                <p>Este vapor es usado para hacer girar una turbina a vapor la cual transmite ese movimiento a un generador eléctrico. </p>
                <p>Para optimizar la calidad y cantidad de vapor se utiliza una segunda turbina a gas. </p>
                <p>La combinación de dos fuentes de generación (gas y vapor) la llamamos ciclo combinado.</p>
                
            </div> 
          </div>
          
        </div>
       <!-- PROJECT GALLERY START -->
        
       
    </div>




     <!-- COUNTER PARALLAX START -->
     <div class="container-fluid alt-counter-parallax agriculture-parallax">
        <div class="container">
            <div class="row">
              <div class="col-lg-3">
                <div class="counter-statistics">
                    <div class="counter">320 Mw</div>
                    <h4>TERMOELÉCTRICA DEL SUR</h4>
                    <p>Generación de energía electrica de las planta con ciclos combinados.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="counter-statistics">
                    <div class="counter">320 Mw</div>
                    <h4>TERMOELÉCTRICA WARNES</h4>
                    <p>Generación de energía electrica de las planta con ciclos combinados.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="counter-statistics">
                    <div class="counter">380 Mw</div>
                    <h4>TERMOELÉCTRICA ENTRE RIOS</h4>
                    <p>Generación de energía electrica de las planta con ciclos combinados.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="counter-statistics">
                    <div class="counter">1020 Mw</div>
                    <h4>TOTAL ENTREGADO</h4>
                    <p>Generación de energía eléctrica de las plantas con ciclos combinados.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- COUNTER PARALLAX END -->
    
   
    <div class="container">
        <!-- PROJECT GALLERY START -->
        <div class="row project-col">
           
          <div class="col-lg-6">
            <div class="ab-details">
                <h3>¿Que es un Generador termoeléctrico?</h3>
                <p>Es un sistema que permite la conversión de energía calorífica, proporcionada en ese caso por el gas natural a energía eléctrica</p>
                <p>Para este fin se utiliza un turbina de tipo industrial, la cual transforma la energía calorífica del gas en energía mecánica.</p>
                
                <p>Generador eléctrico, es el encargado de convertir esta energía mecánica a energía eléctrica, usando el principio de el electromagnetismo</p>
                
            </div> 
          </div>

          <div class="col-lg-6">
                
            <figure class="third-preview"><img src="assets/img/imagenes/generador.jpg" alt=""></figure> 
        </div>
          
        </div>
       <!-- PROJECT GALLERY START -->
        
       
    </div>
    
</section> 
<!-- CONTENT START -->
