 
    <div class="sections">
        <div class="container">
            <div class="pages-title">
                <h1>Ende Andina <br> <span>Contactar</span></h1>
                <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Contactar</a></p>
            </div>
        </div>  
    </div>
    
    <!-- CONTENT START -->
    <section>
        <div class="container">
            <div class="row">
              <!-- CONTACT INFO START -->
              <div class="col-lg-6">
                <div class="contact-info">
                  <h2>Contacta con nosotros</h2>
                  <p>Nuestra empresa está a tu servicio, envíanos tus opiniones a través este formulario de contacto y responderemos tus preguntas y sugerencias.</p>
                  <div class="span-contact">
                    <div class="contact-icon"><i class="fas fa-phone"></i></div> 
                    <p>&nbsp;(591-4) 466 4001 / 4123820 - Fax: 4664063</p>
                  </div>
                  <div class="span-contact">
                    <div class="contact-icon"><i class="fas fa-envelope"></i></div> 
                    <p>Contacto@endeandina.bo</p>
                  </div>
                  <div class="span-contact">
                    <div class="contact-icon"><i class="fas fa-map"></i></div> 
                    <p>Av. Ecológica N° 88, Pasaje Villa Gardenias N° 40 - Tiquipaya</p>
                  </div>
                </div>
              </div>
              <!-- CONTACT INFO END -->
                
              <!-- CONTACT FORM START -->    
              <div class="col-lg-6 space-break">
                <div class="contact-form">
                    <form id="contact-form" method="post" action="contact.php">
                        <div class="messages"></div>
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_name" type="text" name="name" class="form-control customize" placeholder="Nombre" required="required" data-error="El nombre es requerido.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_email" type="email" name="email" class="form-control customize" placeholder="Correo electrónico" required="required" data-error="Es requerido un correo válido.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_phone" type="tel" name="phone" class="form-control customize" placeholder="Por favor, ingrese su teléfono">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea id="form_message" name="message" class="form-control customize" placeholder="Su mensaje" rows="5" required="required" data-error="Por favor, dejenos un mensaje."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p><input type="submit" class="btn btn-custom" value="Enviar mensaje"></p>
                                </div>
                            </div>
                        </div>
                    </form>  
                </div>
              </div>
              <!-- CONTACT FORM START -->   
            </div>
        </div>
    
        <!-- MAP START -->   
        <div class="container">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d60983.578827044614!2d-64.57796168039854!3d-17.195790127480052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e0!4m3!3m2!1d-17.1989584!2d-64.5354748!4m3!3m2!1d-17.200236999999998!2d-64.51837139999999!5e1!3m2!1ses!2sbo!4v1518643880914" class="map-iframe"></iframe>
            </div> 
        </div>
        <!-- MAP END -->  
    </section> 
    <!-- CONTENT START -->
