<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Nosotros <br> <span>Recursos Humanos</span></h1>
            <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Recursos Humanos</a></p>
        </div>
    </div>  
</div>
<!-- CONTENT START -->
<section>
    <div class="container">
        <!-- PROJECT GALLERY START -->
        <div class="row project-col">
          <div class="col-lg-8">
            <div class="ab-details">
                <h3>Capacitación del Personal</h3>
                <p>En el mes de diciembre 2019,
                    se realizaron capacitaciones de
                    primeros auxilios a todo el personal
                    de las Plantas Termoeléctricas: Entre Ríos, Del Sur y Warnes.</p>
                <p>Las capacitaciones se realizaron
                    a cargo de la empresa Cruz Roja
                    filial Santa Cruzy tuvo una duración de 8 horas por planta. Se tocaron los siguientes temas::</p>

                <div class="bullets">
                    <p>Evaluación Primaria</p>
                    <p>Ventilación de Rescate</p>
                    <p>Reanimación cardiopulmonar</p>
                    <p>Atragamiento</p>
                    <p>Hemorragias y shock</p>
                    <p>Quemaduras</p>
                    <p>Mordeduras y picaduras</p>
                    <p>Transporte de heridos</p>
                </div>
            </div> 
          </div>
          <div class="col-lg-4">
              <figure class="second-preview"><img src="assets/img/imagenes/rrhh5.jpg" alt=""></figure> 
              <figure class="third-preview"><img src="assets/img/imagenes/rrhh3.jpg" alt=""></figure> 
          </div>
        </div>
       <!-- PROJECT GALLERY START -->
        
       
    </div>
    
    <!-- RELATED PROJECT CAROUSEL START -->
<div class="container related-projects">
    
        
    <div class="section-title" style="width:100%; padding: 0rem 3rem 8rem;">
        <h2>Capacitaciones en Planta</h2>
        <p>ENDE ANDINA S.A.M. realizó capacitaciones en sus ditintas plantas.</p>
    </div>
    

    
    <div class="container construction-services">

        <div class="row hover-effects image-hover">
          <div class="col-lg-4">
            <div class="thumbnail-box-alt" [routerLink]="['/entrerios']">
                <figure class="tb-image"><img src="assets/img/imagenes/rrhh1.jpg" alt=""></figure>  
                <div class="tb-caption">
                    <div class="inner-caption">
                        <div class="ic-top">
                            <figure class="ic-icon"><img src="assets/img/master/automobile-with-wrench.svg" alt=""></figure>
                            <h3>Termoeléctrica Entre Ríos</h3>
                        </div>
                        <p>Una vez concluida la
                            exposición, se llevó a cabo
                            un simulacro donde se
                            evaluó la asimilación y la
                            capacidad de respuesta del
                            personal de planta.</p>
                    </div>
                </div>
            </div>  
          </div>
          <div class="col-lg-4 center-box">
            <div class="thumbnail-box-alt" [routerLink]="['/delsur']">
                <figure class="tb-image"><img src="assets/img/imagenes/rrhh4.jpg" alt=""></figure>    
                <div class="tb-caption">
                    <div class="inner-caption">
                        <div class="ic-top">
                            <figure class="ic-icon"><img src="assets/img/master/automobile-with-wrench.svg" alt=""></figure>
                            <h3>Termoeléctrica Del Sur</h3>
                        </div>
                        <p>Una vez concluida la
                            exposición, se llevó a cabo
                            un simulacro donde se
                            evaluó la asimilación y la
                            capacidad de respuesta del
                            personal de planta.</p>
                    </div>
                </div>
            </div>  
          </div>
          <div class="col-lg-4">
            <div class="thumbnail-box-alt" [routerLink]="['/warnes']">
                <figure class="tb-image"><img src="assets/img/imagenes/rrhh6.jpg" alt=""></figure>  
                <div class="tb-caption">
                    <div class="inner-caption">
                        <div class="ic-top">
                            <figure class="ic-icon"><img src="assets/img/master/automobile-with-wrench.svg" alt=""></figure>
                            <h3>Termoeléctrica Warnes</h3>
                        </div>
                        <p>Una vez concluida la exposición, se llevó a cabo un simulacro
                            donde se evaluó la asimilación y la capacidad de respuesta
                            del personal de planta.</p>
                    </div>
                </div>
            </div>  
          </div>
          
        </div>
    </div>
    
    
</div>
<!-- RELATED PROJECT CAROUSEL END -->
    
</section> 
<!-- CONTENT START -->