 
    <div class="sections">
        <div class="container">
            <div class="pages-title">
                <h1>Nuestras <br> <span>Noticias</span></h1>
                <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Noticias</a></p>
            </div>
        </div>  
    </div>
    
    <!-- CONTENT START -->
    <section>
        <div class="container">
            <div class="row">
             <!-- BLOG CONTENT START -->
              <div class="col-lg-8 col-xl-9">
                  <div class="post-preview">
                    <figure class="post-preview-img"><a href="#"><img src="../assets/img/images/post-preview8.jpg" alt=""></a></figure>
                    <div class="pp-caption">
                        <h3><a href="#">The industrial sector is revolutionizing enormously</a></h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
                        <h4 class="link"><a href="#">Read More</a></h4>
                        <hr class="post">
                        <div class="pp-bottom">
                            <div class="about-author">
                                <figure class="author-avatar"><img src="../assets/img/images/engineer.jpg" alt=""></figure>
                                <div class="author-info">
                                    <h5>Bob Kucera</h5>
                                    <p>Architec</p>
                                </div>
                            </div>
                            <div class="post-social">
                                <p>January 15, 2019</p>
                                <div class="ps-social-icons"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
                                <div class="ps-social-icons"><a href="#"><i class="fab fa-twitter"></i></a></div>
                                <div class="ps-social-icons"><a href="#"><i class="fab fa-instagram"></i></a></div>
                                <div class="ps-social-icons"><a href="#"><i class="fab fa-google-plus-g"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="post-preview">
                    <figure class="post-preview-img"><a href="#"><img src="../assets/img/images/post-preview5.jpg" alt=""></a></figure>
                    <div class="pp-caption">
                        <h3><a href="#">Improvements in construction techniques</a></h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
                        <h4 class="link"><a href="#">Read More</a></h4>
                        <hr class="post">
                        <div class="pp-bottom">
                            <div class="about-author">
                                <figure class="author-avatar"><img src="../assets/img/images/engineer2.jpg" alt=""></figure>
                                <div class="author-info">
                                    <h5>Roland Norman</h5>
                                    <p>Electric</p>
                                </div>
                            </div>
                            <div class="post-social">
                                <p>January 11, 2019</p>
                                <div class="ps-social-icons"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
                                <div class="ps-social-icons"><a href="#"><i class="fab fa-twitter"></i></a></div>
                                <div class="ps-social-icons"><a href="#"><i class="fab fa-instagram"></i></a></div>
                                <div class="ps-social-icons"><a href="#"><i class="fab fa-google-plus-g"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-preview">
                    <figure class="post-preview-img"><a href="#"><img src="../assets/img/images/post-preview6.jpg" alt=""></a></figure>
                    <div class="pp-caption">
                        <h3><a href="#">The advances in the mechanics sector</a></h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
                        <h4 class="link"><a href="#">Read More</a></h4>
                        <hr class="post">
                        <div class="pp-bottom">
                            <div class="about-author">
                                <figure class="author-avatar"><img src="../assets/img/images/engineer3.jpg" alt=""></figure>
                                <div class="author-info">
                                    <h5>John Wilson</h5>
                                    <p>Constrution</p>
                                </div>
                            </div>
                            <div class="post-social">
                                <p>January 08, 2019</p>
                                <div class="ps-social-icons"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
                                <div class="ps-social-icons"><a href="#"><i class="fab fa-twitter"></i></a></div>
                                <div class="ps-social-icons"><a href="#"><i class="fab fa-instagram"></i></a></div>
                                <div class="ps-social-icons"><a href="#"><i class="fab fa-google-plus-g"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="post-preview">
                    <figure class="post-preview-img"><a href="#"><img src="../assets/img/images/post-preview7.jpg" alt=""></a></figure>
                    <div class="pp-caption">
                        <h3><a href="#">The Roth strategy we wish retirement</a></h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
                        <h4 class="link"><a href="#">Read More</a></h4>
                        <hr class="post">
                        <div class="pp-bottom">
                            <div class="about-author">
                                <figure class="author-avatar"><img src="../assets/img/images/engineer4.jpg" alt=""></figure>
                                <div class="author-info">
                                    <h5>Sam Gordon</h5>
                                    <p>Constrution</p>
                                </div>
                            </div>
                            <div class="post-social">
                                <p>January 03, 2019</p>
                                <div class="ps-social-icons"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
                                <div class="ps-social-icons"><a href="#"><i class="fab fa-twitter"></i></a></div>
                                <div class="ps-social-icons"><a href="#"><i class="fab fa-instagram"></i></a></div>
                                <div class="ps-social-icons"><a href="#"><i class="fab fa-google-plus-g"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PAGINATION START -->
                <div class="site-pagination">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item">

                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <i class="fas fa-arrow-right"></i>
                          </a>
                        </li>
                      </ul>
                    </nav>
                </div> 
                <!-- PAGINATION END -->
              </div>
              <!-- BLOG SIDEBAR START -->
              <div class="col-lg-4 col-xl-3 space-break">
                  <aside>
                    <div class="form-group blog-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Buscar">
                      </div>
                      <div class="aside-list-group">
                          <h4>Categorias</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#">Entrevistas</a>
                            <span class="badge badge-primary badge-pill">12</span>
                          </li>
                          <li class="list-group-item"><a href="#">Informes</a>
                            <span class="badge badge-primary badge-pill">16</span>
                          </li>
                          <li class="list-group-item"><a href="#">Gerencial</a>
                            <span class="badge badge-primary badge-pill">13</span>
                          </li>
                          <li class="list-group-item"><a href="#">RErportaje</a>
                            <span class="badge badge-primary badge-pill">10</span>
                          </li>
                        </ul>
                      </div>
                      <div class="aside-related-posts">
                        <h4>Relacionados</h4>
                        <div class="aside-related-posts">
                          <div class="media">
                              <a href="#"><img src="../assets/img/images/media-thumb3.jpg" class="mr-3" alt="..."></a> 
                              <div class="media-body">
                                <h5 class="mt-0"><a href="#">Hit the Road as a Design Digital Nomad</a></h5>
                                <p>January 29, 2019</p>
                              </div>
                          </div>
                          <div class="media">
                              <a href="#"><img src="../assets/img/images/media-thumb2.jpg" class="mr-3" alt="..."></a> 
                              <div class="media-body">
                                <h5 class="mt-0"><a href="#">The advances in the mechanics sector</a></h5>
                                <p>January 22, 2019</p>
                              </div>
                          </div>
                          <div class="media">
                              <a href="#"><img src="../assets/img/images/media-thumb3.jpg" class="mr-3" alt="..."></a> 
                              <div class="media-body">
                                <h5 class="mt-0"><a href="#">The Roth strategy we wish retirement</a></h5>
                                <p>January 15, 2019</p>
                              </div>
                          </div>
                          <div class="media">
                              <a href="#"><img src="../assets/img/images/media-thumb4.jpg" class="mr-3" alt="..."></a> 
                              <div class="media-body">
                                <h5 class="mt-0"><a href="#">Improvements in construction techniques</a></h5>
                                <p>January 13, 2019</p>
                              </div>
                          </div>
                       </div>
                      </div>
                      <div class="aside-tags">
                        <h4>Tags</h4>
                        <a class="btn btn-tags" href="#" role="button">Termoeléctrica</a>
                        <a class="btn btn-tags" href="#" role="button">Ende</a>
                        <a class="btn btn-tags" href="#" role="button">Electricidad</a>
                        <a class="btn btn-tags" href="#" role="button">Energía</a>
                        <a class="btn btn-tags" href="#" role="button">Planta</a>
                        <a class="btn btn-tags" href="#" role="button">Gobierno</a>
                      </div> 
                  </aside>
              </div>
              <!-- BLOG SIDEBAR END -->
            </div>
        </div>

    </section> 
    <!-- CONTENT START -->
