
    <div class="sections pter-bg">
        <div class="container">
            <div class="pages-title">
                <h1>Planta Termoeléctrica <br> <span>Entre Rios</span></h1>
                <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Termoeléctrica Entre Rios</a></p>
            </div>
        </div>  
    </div>
    
    
  
<!-- CONTENT START -->
<section>
    <div class="container">
        <div class="row">
          <!-- SIDEBAR START -->
          <div class="order-last order-md-3 col-lg-4  col-xl-3 space-break">
            <app-submenu [subMenu]=1></app-submenu>
           
          </div>
          <!-- SIDEBAR END -->
            
          <!-- PROJECT CONTENT START -->
          <div class="order-first order-md-9 col-lg-8 col-xl-9">
            <figure class="solution-pic"><img src="../assets/img/imagenes/pter.jpg" alt=""></figure>
            <div class="solution-content ab-details">

               <h3>Nuestra planta termoeléctrica Entre Rios consta  de:</h3>  
                <div class="bullets">
                <p>Planta de generación con 4 termogeneradoras marca SIEMENS cada una con una capacidad de 29.06 MV.</p>
                <p>Subestacion con 4 transformadores cada uno con una potencia de 35 MVA.</p>
                <p>Linea de transmision de 230 kV de 1,5 km de longitud conectado con subestación Carrasco</p>
                <p>Gasoducto para suministro de gas a la planta Entre Rios</p>
                <p>Campamento de interaccion social</p>
                </div>
                <br>
                
            
                <h4>Disponibilidad de la Planta Termoeléctrica Entre Ríos</h4>
                <p>En el periodo 2019, la Planta de Generación de Entre Ríos registró los siguientes niveles de disponibilidad:</p>
            
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th><h4>Planta Entre Rios</h4></th>
                        <th><h4>Primer Trimestre</h4></th>
                        <th><h4>Segundo Trimestre</h4></th>
                        <th><h4>Tercer Trimestre</h4></th>
                        <th><h4>Cuarto Trimestre</h4></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p><strong>Disponibilidad</strong></p>   </td>
                        <td><p>95,92%</p></td>
                        <td><p>49,99%</p>   </td>
                        <td><p>58,47%</p> </td>
                        <td><p>78,88%</p> </td>
                    </tr>
                    </tbody>
                </table>
            
            
            </div>

           

            <div class="grid-section">
                <div class="container">
                    <div class="row">
                      <div class="col-lg-6 layer-image">
                          <img src="../assets/img/imagenes/peer.jpg" alt="">
                      </div>
                      <div class="col-lg-6 layer-content">
                        <div class="lc-inner">
                            <!-- <figure class="lc-icon"><img src="../assets/img/master/light-bulb.svg" alt=""></figure>   -->
                            <h3>Potencia Efectiva</h3>
                            <p>La capacidad de generación termoeléctrica a la temperatura media anual del sitio (26° C), reconocida
                                por el CNDC para la Planta Termoeléctrica de Entre Ríos durante el 2019 fue de <strong>388.15 MW.</strong> </p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="order-last order-md-6 col-lg-6 layer-content">
                         <div class="lc-inner">
                            <!-- <figure class="lc-icon"><img src="../assets/img/master/eolic.svg" alt=""></figure>   -->
                            <h3>Pérdidas por transformación y consumo propio</h3>
                            <p>Las pérdidas por transformación y consumo propio de la Planta Entre Ríos para la
                                gestión 2019, estuvieron alrededor del 3,36%. </p>
                        </div>
                      </div>
                      <div class="order-first order-md-6 col-lg-6 layer-image">
                          <img src="../assets/img/imagenes/ptcer.jpg" alt="">
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- PROJECT CONTENT END -->
        </div>
    </div>

    

    <app-proyects [slides]='slides' ></app-proyects>

     <!-- MAP START -->   
     <!-- <div class="container"> -->
       
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d60983.578827044614!2d-64.57796168039854!3d-17.195790127480052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e0!4m3!3m2!1d-17.1989584!2d-64.5354748!4m3!3m2!1d-17.200236999999998!2d-64.51837139999999!5e1!3m2!1ses!2sbo!4v1518643880914" class="map-iframe"></iframe>
        </div> 
    <!-- </div> -->
    <!-- MAP END --> 
    
</section> 
<!-- CONTENT START -->