
    <div class="sections pter-bg">
        <div class="container">
            <div class="pages-title">
                <h1>Ciclos Combinados <br> <span>Planta Termoeléctrica Entre Rios</span></h1>
                <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Ciclos Combinados Termoeléctrica Entre Rios</a></p>
            </div>
        </div>  
    </div>
    
    
  
<!-- CONTENT START -->
<section>
    <div class="container">
        <div class="row">
          <!-- SIDEBAR START -->
          <div class="order-last order-md-3 co-lg-4  col-xl-3 space-break">
            <app-submenu [subMenu]=2 ></app-submenu>
            <div class="brochures">
                <h4>Proyectos en Ejecución</h4>
                <p>ENDE ANDINA S.A.M. juega un
                    papel muy importante en el Sector
                    Eléctrico y con el Gobierno de
                    Transición brindando estabilidad
                    al país y con miras establecer 
                    precios más bajos de energía 
                    eléctrica para el consumidor final.</p> 
            </div>
            <br>
            <div class="col-lg-12 span-about">
                <div class="sa-content" style="width: 100%; padding: 2rem 0.5rem;">
                  <div class="sa-tittle" >
                      <h5>Ciclos combinados</h5>
                      <h3>Que es un ciclo combinado?</h3>  
                  </div>
                  <p class="text">Con el fin me mejorar la eficiencia en la generación, se aprovecha el calor en el escape de la turbina a gas para calentar agua y generar vapor.</p>
                  <br>
                  <p><a  [routerLink]="['/ciclos']" class="btn btn-custom"> Saber más</a></p>
                </div>
            </div>
          </div>
          <!-- SIDEBAR END -->
            
          <!-- PROJECT CONTENT START -->
          <div class="order-first order-md-9 col-lg-8 col-xl-9">
            <!-- <figure class="solution-pic"><img src="../assets/img/imagenes/pter.jpg" alt=""></figure> -->
            
           

            

            <div class="solution-content ab-details">
                <div class="row">
                <div class=" col-lg-6">
                    
                    <h3>Proyecto Ciclos Combinados PTERI</h3>
                    <p>El proyecto consiste en la ampliación de la Planta Termoeléctrica Entre Ríos (PTERI), con la
                        implementación de ciclos combinados para incrementar la oferta de potencia y de esta manera
                        generar excedentes para la exportación de energía eléctrica. La PTER ha sido diseñada para
                        alcanzar a su conclusión una potencia instalada aproximada de 389,06 MW mediante tecnología de
                        ciclo combinado. Ubicado en el Municipio Entre Ríos, provincia Carrasco dentro del departamento
                        de Cochabamba.</p>
                    
                </div>

                <div class="col-lg-6 layer-image">
                    <img src="../assets/img/imagenes/turbina.jpg" alt="">
                </div>
               </div>
               <p>La implementación de mayor potencia en la
                Planta Termoeléctrica de Entre Ríos contribuirá
                a una mayor confiabilidad de suministro de
                energía en el área oriental en particular y
                también en el país mediante el S.I.N.</p>
            <p>La firma del Contrato del Proyecto “Ciclos
                Combinados Planta Termoeléctrica Entre
                Ríos”, fue realizada en el municipio de Entre
                Ríos el 5 de mayo de 2016.</p>
                <br>
               <h3>Características del Proyecto:</h3>
               <p>El objetivo general del proyecto es la ampliación de la Planta
                Termoeléctrica de Entre Ríos, que consta de la instalación de 6
                turbinas a gas SGT 800 de 40 MW cada una y 3 ciclos combinados
                consistentes en tres turbinas a vapor de una potencia efectiva
                aproximada de 40 MW cada una.</p>
                <p>Los objetivos específicos del proyecto son:</p>
                <div class="bullets">
                    <p>Instalación de 6 turbinas a gas y componentes.</p>
                    <p>Instalación de 3 turbinas a vapor y componentes.</p>
                    <p>Ejecución de obras civiles para el área de generación y subestación.</p>
                    <p>Ejecución de obras civiles complementarias de
                        acuerdo a requerimientos de ingeniería del proyecto.</p>
                    <p>Instalación de nueve transformadores de potencia y componentes.</p>
                    <p>Perforación de 5 pozos de agua.</p>
                    <p>Obras de captación de agua Río Ichoa.</p>
                    <p>Línea de impulsión Río Ichoa – PTER.</p>
                </div>
                <br>
                
            
                <h4>Avance Físico</h4>
                <p>Al 31 de diciembre de 2019, el avance físico ponderado del proyecto Ciclos Combinados de la Planta
                    Termoeléctrica Entre Ríos tiene una ejecución de 99,25%, de acuerdo al siguiente detalle:</p>
            
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th width="30%"><p><strong>DETALLE DE EQUIPOS</strong></p></th>
                        <th><p>EN PROCESO DE FABRICACIÓN</p></th>
                        <th><p>EN TRÁNSITO MARÍTIMO</p></th>
                        <th><p>EN TRÁNSITO TERRESTRE</p></th>
                        <th width="30%"><p><strong>EN SITIO</strong></p></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p><strong>Turbinas de Gas (6)</strong></p>   </td>
                        <td><p></p></td>
                        <td><p></p>   </td>
                        <td><p></p> </td>
                        <td><p>TG31-32-41-42-51-52</p> </td>
                    </tr>


                    <tr>
                        <td><p><strong>Turbinas de Vapor (3)</strong></p>   </td>
                        <td><p></p></td>
                        <td><p></p>   </td>
                        <td><p></p> </td>
                        <td><p>TV30-TV40-TV50</p> </td>
                    </tr>
                    <tr>
                        <td><p><strong>Generadores (9)</strong></p>   </td>
                        <td><p></p></td>
                        <td><p></p>   </td>
                        <td><p></p> </td>
                        <td><p>G31-32-30-40-41-42-50-51-52</p> </td>
                    </tr>
                    <tr>
                        <td><p><strong>Tránsformadores (9)</strong></p>   </td>
                        <td><p></p></td>
                        <td><p></p>   </td>
                        <td><p></p> </td>
                        <td><p>TF30-31-32-40-41-42-50-51-52</p> </td>
                    </tr>
                    <tr>
                        <td><p><strong>Calderos HRSG (6)</strong></p>   </td>
                        <td><p></p></td>
                        <td><p></p>   </td>
                        <td><p></p> </td>
                        <td><p>HR5G31-32-41-42-51-52</p> </td>
                    </tr>
                    <tr>
                        <td><p><strong>Torres de Refrigeración (3)</strong></p>   </td>
                        <td><p></p></td>
                        <td><p></p>   </td>
                        <td><p></p> </td>
                        <td><p>TR30-40-50</p> </td>
                    </tr>
                    </tbody>
                </table>
            
            
            </div>

           

            
          </div>
          <!-- PROJECT CONTENT END -->
        </div>
    </div>

    

    
</section> 
<!-- CONTENT START -->
