<div class="sections ptsur-bg">
    <div class="container">
        <div class="pages-title">
            <h1>Responsabilidad Social Empresarial <br> <span>Gestión Social</span></h1>
            <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Gestión Social</a></p>
        </div>
    </div>  
</div>

 <!-- CONTENT START -->
 <section>
   

<!-- WIDE SECTION START -->
<div class="container-wide-grid">

<div class="row">
    <div class="order-last order-md-12 col-lg-6 full-caption-layer">
        <div class="fc-content fc-left-align">
            <h5>Responsabilidad Social Empresarial</h5>
            <h2>Interacción Social <span>con las comunidades</span></h2>
            <h3>Escuela de deportes ENDE ANDINA S.A.M.</h3>
          <p>Desde hace ocho años, venimos fomentando la práctica deportiva en la niñez y la adolescencia del municipio de Entre Ríos.</p>
          <p>Durante el 2019 se consolidó la participación de niñas, niños y adolescentes en la Escuela de Fútbol de Entre Ríos. Contando con la participación de 75 alumnos, quienes participaron con entusiasmo en las prácticas y en los partidos amistosos programados con otras regiones del trópico cochabambino. Se obtuvieron buenos resultados en todos los encuentros, demostrando de esta manera que el deporte en nuestro municipio va mejorando gracias a nuestro apoyo.</p>
          <p>Las categorías de la Escuela de Fútbol se fortalecieron en esta gestión, actualmente contamos con las siguientes:</p>
          <div class="span-checklist">
            <p>Categoría Sub 9 15 niñas y niños</p>
            <p>Categoría Sub 11 15 niñas y niños</p>
            <p>Categoría Sub 15 18 niñas y niños</p>
            <p>Categoría Sub 18 27 adolescentes</p>
            <p><strong>Total, inscritos 75 deportistas</strong></p>
          </div>
        </div>
      </div>
      <div class="order-first order-md-12 col-lg-6 full-thumb-layer-alt" ></div>
</div>
</div>
<!-- WIDE SECTION END -->
</section>