<!-- start testimonials-section -->
<section class="testimonials-section">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3">
                <div class="section-title-s4">
                    <span>Testimonials</span>
                    <h2>What People say’s About us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="testimonial-left-img-holder">
                    <img src="assets/images/testimonials/man.png" alt>
                </div>
            </div>
            <div class="col col-md-8">
                <div class="testimonial-grids testimonial-slider clearfix">
                    <div class="grid">
                        <div class="quote">
                            <i class="fi flaticon-quote"></i>
                            <p>“Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look ”</p>
                        </div>
                        <div class="client-info">
                            <div class="img-holder">
                                <img src="assets/images/testimonials/img-1.jpg" alt>
                            </div>
                            <div class="details">
                                <h5>Michel jhon</h5>
                                <p>Manager of Automation</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="quote">
                            <i class="fi flaticon-quote"></i>
                            <p>“Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look ”</p>
                        </div>
                        <div class="client-info">
                            <div class="img-holder">
                                <img src="assets/images/testimonials/img-2.jpg" alt>
                            </div>
                            <div class="details">
                                <h5>Alaska</h5>
                                <p>Business Officer</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="quote">
                            <i class="fi flaticon-quote"></i>
                            <p>“Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look ”</p>
                        </div>
                        <div class="client-info">
                            <div class="img-holder">
                                <img src="assets/images/testimonials/img-3.jpg" alt>
                            </div>
                            <div class="details">
                                <h5>Shain on</h5>
                                <p>Manager of Automation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end testimonials-section -->
