
    <div class="sections ptsur-bg">
        <div class="container">
            <div class="pages-title">
                <h1>Planta Termoeléctrica <br> <span>Del Sur</span></h1>
                <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Termoeléctrica Del Sur</a></p>
            </div>
        </div>  
    </div>
    
    
  
<!-- CONTENT START -->
<section>
    <div class="container">
        <div class="row">
           <!-- SIDEBAR START -->
           <div class="order-last order-md-3 col-lg-4  col-xl-3 space-break">
            <app-submenu [subMenu]=1></app-submenu>
           
          </div>
          <!-- SIDEBAR END -->
            
          <!-- PROJECT CONTENT START -->
          <div class="order-first order-md-9 col-lg-8 col-xl-9">
            <figure class="solution-pic"><img src="../assets/img/imagenes/ptsur.jpg" alt=""></figure>
            <div class="solution-content ab-details">

               <h3>Nuestra planta termoeléctrica Del Sur consta  de:</h3>  
                <div class="bullets">
                <p>Planta de generación con 4 termogeneradoras marca SIEMENS cada una con una capacidad de 40 MV.</p>
                <p>Subestación con 4 transformadores cada uno con una potencia de 50 MVA.</p>
                <p>Gasoducto para suministro de gas a la planta Del Sur.</p>
                <p>Campamento de interacción social.</p>
                </div>
                <br>
                
            
                <h4>Disponibilidad de la Planta Termoeléctrica Del Sur</h4>
                <p>En el periodo 2019, la Planta de Generación de Del Sur registró los siguientes niveles de disponibilidad:</p>
            
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th><h4>Planta Del Sur</h4></th>
                        <th><h4>Primer Trimestre</h4></th>
                        <th><h4>Segundo Trimestre</h4></th>
                        <th><h4>Tercer Trimestre</h4></th>
                        <th><h4>Cuarto Trimestre</h4></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p><strong>Disponibilidad</strong></p>   </td>
                        <td><p>99,17%</p></td>
                        <td><p>93,12%</p>   </td>
                        <td><p>90,05%</p> </td>
                        <td><p>76,15%</p> </td>
                    </tr>
                    </tbody>
                </table>
            
            
            </div>

           

            <div class="grid-section">
                <div class="container">
                    <div class="row">
                      <div class="col-lg-6 layer-image">
                          <img src="../assets/img/imagenes/pesur.jpg" alt="">
                      </div>
                      <div class="col-lg-6 layer-content">
                        <div class="lc-inner">
                            <!-- <figure class="lc-icon"><img src="../assets/img/master/light-bulb.svg" alt=""></figure>   -->
                            <h3>Potencia Efectiva</h3>
                            <p>La capacidad de generación
                                termoeléctrica a la temperatura media
                                anual del sitio (25°C), reconocida por el
                                CNDC para la Planta Termoeléctrica del
                                Sur durante el 2019 fue de  <strong>438.56 MW.</strong> </p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="order-last order-md-6 col-lg-6 layer-content">
                         <div class="lc-inner">
                            <!-- <figure class="lc-icon"><img src="../assets/img/master/eolic.svg" alt=""></figure>   -->
                            <h3>Pérdidas por transformación y consumo propio</h3>
                            <p>Las pérdidas por transformación y consumo propio de
                                la Planta Termoeléctrica del Sur para la gestión 2019,
                                estuvieron alrededor del 3.29%. </p>
                        </div>
                      </div>
                      <div class="order-first order-md-6 col-lg-6 layer-image">
                          <img src="../assets/img/imagenes/ptcsur.jpg" alt="">
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- PROJECT CONTENT END -->
        </div>
    </div>

    

    <app-proyects [slides]='slides' ></app-proyects>

     <!-- MAP START -->   
    
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d14827.98913389428!2d-63.5674869702347!3d-21.70282587019248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m5!1s0x940928155131de67%3A0x887166df71cc956a!2sYaguacua%2C+Tarija!3m2!1d-21.712583199999997!2d-63.5584809!4m3!3m2!1d-21.69265!2d-63.560399999999994!5e1!3m2!1ses!2sbo!4v1518711702614" class="map-iframe"></iframe>
        </div> 
  
    <!-- MAP END --> 
</section> 
<!-- CONTENT START -->
