
    <div class="sections">
        <div class="container">
            <div class="pages-title">
                <h1>Sobre <br> <span>Nosotros</span></h1>
                <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Nosotros</a></p>
            </div>
        </div>  
    </div>
    
    <!-- CONTENT START -->
    <section>

        <!-- HOME ABOUT START -->
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="home-about ">
                  <div class="ha-title">
                      <h5>ACERCA DE NOSOTROS</h5>
                      <h2>Somos ENDE ANDINA S.A.M.</h2>
                  </div> 
                  <p class="strong">"Uniendo Bolivia con energía"</p>
                  <p>Somos una empresa de economía mixta, formada entre la Empresa Nacional de Electricidad (ENDE) del Estado Plurinacional de Bolivia y Petróleos de Venezuela Bolivia S.A (PDVSA Bolivia S.A), filial de PDVSA de la República Bolivariana de Venezuela, cuyo objeto es realizar actividades de generación de energía eléctrica, interconexión, comercialización y transmisión asociada a la generación de energía eléctrica.</p>
                  
              </div>  
            </div>
            <div class="col-lg-6 space-break">
              <div class="organic-pulsing-video">
                <div class="youtube-popup" >
                  <a  (click)="openVideo('https://www.youtube.com/watch?v=KYLrtC6tpGg')" class="popup-youtube">
                      <figure class="video-image"><img src="assets/img/images/energy-img.jpg" alt=""></figure>
                  </a>
                  <button class="pulse-button"></button>
                </div>
              </div> 
            </div>
          </div>
      </div>
      <!-- HOME ABOUT END -->


      

        <!-- COMPANY ABOUT START -->
        <!-- <div class="container">
            <div class="row">
              <div class="col-lg-5">
                <div class="about-alt-img image-shadow js-tilt-container"><img src="assets/img/imagenes/about.jpg" alt=""></div>
              </div>
              <div class="col-lg-7 space-break">
                <div class="about-alt-info">
                    <h5>ACERCA DE NOSOTROS</h5>
                    <h2>Somos ENDE ANDINA S.A.M.</h2>
                    <p>Somos una empresa de economía mixta, formada entre la Empresa Nacional de Electricidad (ENDE) del Estado Plurinacional de Bolivia y Petróleos de Venezuela Bolivia S.A (PDVSA Bolivia S.A), filial de PDVSA de la República Bolivariana de Venezuela, cuyo objeto es realizar actividades de generación de energía eléctrica, interconexión, comercialización y transmisión asociada a la generación de energía eléctrica.</p>
                    <div class="span-about-alt">
                        <div class="row">
                          <div class="col-md-6 col-lg-6">
                            <div class="inner-span-alt">
                                <figure class="about-alt-icon"><img src="assets/img/master/engineer.svg" alt=""></figure>
                                <h4>Personal</h4>
                                <p>It is a long established fact that a reader.</p>  
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-6">
                            <div class="inner-span-alt">
                                <figure class="about-alt-icon"><img src="assets/img/master/shield.svg" alt=""></figure>
                                <h4>Seguridad</h4>
                                <p>It is a long established fact that a reader.</p>  
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-6">
                            <div class="inner-span-alt">
                                <figure class="about-alt-icon"><img src="assets/img/master/innovation.svg" alt=""></figure>
                                <h4>Inovación</h4>
                                <p>It is a long established fact that a reader.</p>  
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-6">
                            <div class="inner-span-alt">
                                <figure class="about-alt-icon"><img src="assets/img/master/clock.svg" alt=""></figure>
                                <h4>24/7 Online</h4>
                                <p>It is a long established fact that a reader.</p>  
                            </div>
                          </div>
                        </div>
                    </div>
                    
                </div>  
              </div>
            </div>
        </div> -->
        <!-- COMPANY ABOUT START -->
        
        <!-- COUNTER PARALLAX START -->
        <div class="alt-counter-parallax">
          <div class="row cm-bottom">
          <!-- <div class="container">
            <div class="row"> -->
          <div class="col-lg-6 ">
            <div class="mision-content">
              <div class="mision-tittle">
                  <h5>Nuestra</h5>
                  <h2>Misión</h2>  
              </div>
              <p>"ENDE ANDINA S.A.M es una empresa estratégica de
                ENDE Corporación, que contribuye
                al suministro de electricidad a la
                población boliviana a través del Sistema
                Interconectado Nacional, logrando
                generar electricidad de manera
                continua, eficiente, segura y confiable,
                mediante inversiones importantes con
                gestión auto-sostenible."</p>
              
            </div>
        </div>

        <div class="col-lg-6">
          <div class="vision-content">
            <div class="vision-tittle">
                <h5>Nuestra</h5>
                <h2>Visión</h2>  
            </div>
            <p>"Ser en 2020 una empresa de generación de
              electricidad de ENDE Corporación que
              abastece el mercado interno y externo,
              logrando la continuidad, seguridad y
              confiabilidad de sus operaciones a través
              de la especialización de sus recursos
              humanos, incorporación de tecnología, con
              una operación y administración eficiente
              de sus plantas, así como ejecución de
              proyectos estratégicos."</p>
            
          </div>
      </div>
    </div>
            <!-- </div>
            </div> -->

        </div>
        <!-- COUNTER PARALLAX END -->


         <!-- RECENT PROJECTS START -->
         <div class="container-wide-grid">
          <div class="row">
         
          <div class="col-lg-6 full-values-layer-text" >
            <div class="fc-content">
            <h5>PLANIFICACIÓN ESTRATÉGICA</h5>
            <h2>  <span>Nuestros Valores</span></h2>
            <p>ENDE ANDINA S.A.M. es una empresa filial de ENDE Corporación, cuyo objetivo es la
              Generación de la Energía Eléctrica (con sus tres Termoeléctricas en el País) para el beneficio
              de la población boliviana con una gestión transparente.</p>
              <p>Tiene definido políticas y lineamientos que permiten optimizar la generación de energía
                eléctrica para el país y brindar mejores oportunidades de negociación con el mercado
                exterior.</p>
            </div>
          </div>
          <div class="col-lg-6 full-values-layer fojas" >

            <ul>
              <li>
                  <h1>Transparencia</h1>
                  <p>Nuestra gestión es realizada
                    de forma objetiva, clara y
                    verificable.</p>
                  
                </li>
                 <li>
                  <h1>Responsabilidad y
                    compromiso</h1>
                  <p>Cumplir nuestras labores con
                    excelencia y en los plazos
                    establecidos</p>
                  
                </li>
                <li>
                  <h1>Innovación y calidad</h1>
                  <p>Innovación y Calidad: "Nos esforzamos por incorporar la mejor tecnología y personal, mantener estándares de calidad, como también innovar técnicas para lograr los mejores resultados</p>
                  
                </li>
                <li>
                  <h1>Responsabilidad
                    social empresarial</h1>
                  <p>Trabajamos para contribuir
                    de forma activa y voluntaria
                    al mejoramiento social,
                    económico y ambiental</p>
                  
                </li>
                 <li>
                   <h1>Trabajo en Equipo</h1>
                  <p>Generar mecanismos de comunicación y coordinación combinando factores de contexto que otorguen un clima laboral que facilite el logro de resultados</p>
                </li>
              </ul>
            
          </div>
          </div>
      </div>
      <!-- RECENT PROJECTS END -->


       


       

        <!-- TEAM START -->
        <div class="container">
            <div class="section-title">
                <h2>Nuestro equipo</h2>
                <p>Le presentamos a nuestro equipo de profesionales en nuestra empresa</p>
            </div>
            <div class="hover-effects image-hover">
              <app-team></app-team>
            </div>
        </div>
        <!-- TEAM END -->

    </section> 
    <!-- CONTENT END -->