
        <!-- start about-us-section -->
        <section class="about-us-section section-padding">
            <div class="container">
                <div class="row">

                  

                    <div class="col col-md-6">
                        <div class="section-title">
                            <span>Sobre nosotros</span>
                            <h2>Somos parte de ENDE Corporación.</h2>
                        </div>
                        <div class="details">
                            <p>ENDE ANDINA S.A.M, es una empresa filial de ENDE Corporación, cuya actividad principal es la generación de energía eléctrica a través de plantas termoeléctricas con presencia en los departamentos de Cochabamba, Tarija y Santa Cruz. La energía generada es inyectada al Sistema Interconectado Nacional (SIN), en niveles de alta tensión.</p>
                            <p>Las actividades relacionadas a la generación termoeléctrica de energía son: el diseño, construcción, operación y el mantenimiento de las plantas de generación. Todo en cumplimiento de la Ley de Electricidad, sus reglamentos, resoluciones de la Autoridad de Fiscalización y Control Social de Electricidad, así como la normativa del Comité Nacional de Despacho de Carga (C.N.D.C.).</p>
                            <div class="clearfix">
                                <ul>
                                    <li><i class="ti-check"></i> ENDE Transmisión</li>
                                    <li><i class="ti-check"></i> ELFEC</li>
                                </ul>
                                <ul>
                                    <li><i class="ti-check"></i> ENDE Tecnologías</li>
                                    <li><i class="ti-check"></i> CNDC </li>
                                </ul>
                            </div>
                            <div class="btns">
                                <a href="#" class="theme-btn">Servicios</a>
                                <a href="#" class="theme-btn-s3">Contactarnos</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="right-col">
                            <div class="img-holder">
                                <img src="assets/images/about.png" alt>
                            </div>

                            <div class="video-holder">
                                <a href="https://www.youtube.com/embed/QKj1YklCuDI?autoplay=1" class="hero-video-btn video-btn"  data-type="iframe" tabindex="0"><i class="fi flaticon-play-button"></i>Ver video de presentación</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end about-us-section -->
