<header>
    <!--TOP HEADER START-->
    <div class="top-header">
        <div class="container">
            <div class="header-left">
                <p><strong>Teléfono:</strong> 591-4 466 4001</p>
            </div>
            <div class="header-right">
               <div class="ht-right-email">
                <p>Contacto@endeandina.bo</p>
               </div>
               <div class="ht-right-social">
                    <a href="https://www.facebook.com/EndeAndina/" target="_blank"><i class="fab fa-facebook-f"></i></a>    
               </div>
               <div class="ht-right-social">
                <a href="https://www.linkedin.com/company/endeandina/" target="_blank"><i class="fab fa-linkedin"></i></a>    
                </div>
               <div class="ht-right-social">
                    <a href="https://twitter.com/EndeAndina?ref_src=twsrc%5Etfw" target="_blank"><i class="fab fa-twitter"></i></a>
               </div>
               <div class="ht-right-social">
                    <a href="https://www.instagram.com/endeandinasam/" target="_blank"><i class="fab fa-instagram"></i></a>
               </div>
               <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Buscar">
              </div>
            </div>
        </div>
    </div>
    <!--TOP HEADER END-->
    
    <!--MEGAMENU START-->
    <div class="main-nav" id="navbar">
        <div class="container">
            <nav id="navigation1" class="navigation">
                <div class="nav-header">
                    <a class="nav-logo" href="">
                        <img src="assets/img/master/logo.png"  class="white-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>
                <div class="nav-menus-wrapper">
                    <ul class="nav-menu align-to-right">
                        <li><a [routerLink]="['/home']" >INICIO</a></li>
                        <li><a href="javascript:void(0)">NOSOTROS</a>
                            <ul class="nav-dropdown">
                                <li><a [routerLink]="['/about']" routerLinkActive="active">Acerca de nosotros</a></li>
                                <li><a [routerLink]="['/ficha']" routerLinkActive="active">Ficha Empresarial</a></li>
                                <!-- <li><a [routerLink]="['/error404']" routerLinkActive="active" fragment="0" class="to-top">Objetivos Institucionales </a></li> -->
                                <!-- <li><a [routerLink]="['/error404']" routerLinkActive="active" fragment="0" class="to-top">Objetivos empresariales</a> </li> -->
                                <li><a [routerLink]="['/estructura']" routerLinkActive="active" >Estructura orgánica</a> </li>
                                <li><a [routerLink]="['/history']" routerLinkActive="active" >Historia</a> </li>
                                <li><a [routerLink]="['/rrhh']" routerLinkActive="active" > Recursos Humanos</a> </li>
                                <li><a [routerLink]="['/reports']" routerLinkActive="active" >Memoria Anual</a> </li>
                                <!-- <li><a [routerLink]="['/error404']" routerLinkActive="active" fragment="0" class="to-top">Filiales y Subsidiarias</a> </li> -->
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">PLANTAS</a>
                            <ul class="nav-dropdown">
                                <li><a [routerLink]="['/entrerios']" routerLinkActive="active" >Termoeléctrica Entre Rios</a></li>
                                <li><a [routerLink]="['/delsur']" routerLinkActive="active" >Termoeléctrica del sur</a></li>
                                <li><a [routerLink]="['/warnes']" routerLinkActive="active" >Termoeléctrica Warnes</a></li>
                            </ul>
                        </li>
                       
                    
                        <li><a href="javascript:void(0)">GESTIÓN </a>
                            <ul class="nav-dropdown">
                                <li><a [routerLink]="['/planestrategico']" routerLinkActive="active" >Plan Estratégico Empresarial - PEE </a></li>
                                <li><a [routerLink]="['/poa']" routerLinkActive="active" >Programa Operativo Anual – POA</a></li>
                                <li><a [routerLink]="['/presupuesto']" routerLinkActive="active" >Presupuesto Anual</a></li>
                                <li><a [routerLink]="['/proyecciones']" routerLinkActive="active" >Proyecciones</a></li>
                                <!-- <li><a [routerLink]="['/error404']" routerLinkActive="active" >Programa Anual de Contrataciones – PAC</a></li> -->
                                <li><a [routerLink]="['/convocatorias']" routerLinkActive="active">Convocatorias</a></li>
                                <!-- <li><a [routerLink]="['/error404']" routerLinkActive="active" >Proveedores</a></li> -->
                                <!-- <li><a [routerLink]="['/error404']" routerLinkActive="active" >Estadisticas comerciales</a></li> -->

                           
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">RSE</a>
                            <ul class="nav-dropdown">
                                <li><a [routerLink]="['/tarifa']" routerLinkActive="active" >Tarifa Dignidad</a></li>
                                <li><a [routerLink]="['/gestionsocial']" routerLinkActive="active" >Gestión Social</a></li>
                              
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">NOTICIAS</a>
                            <ul class="nav-dropdown">
                                <li><a [routerLink]="['/news']" routerLinkActive="active" >Notícias</a></li>
                                <li><a [routerLink]="['/canal']" routerLinkActive="active" >Canal de Video</a></li>
                                <li><a [routerLink]="['/gallery']" routerLinkActive="active" >Banco de imágenes</a></li>
                              
                            </ul>
                        </li>
                        
                        <li><a href="javascript:void(0)">TRANSPARENCIA</a>
                            <ul class="nav-dropdown">
                                <li><a [routerLink]="['/solicitud']" routerLinkActive="active" >Solicitud de información</a></li>
                                <li><a [routerLink]="['/denuncia']" routerLinkActive="active" >Recepción de denuncia</a></li>
                              
                            </ul>
                        </li>
                        <li><a [routerLink]="['/contact']" routerLinkActive="active" >CONTACTOS</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--MEGAMENU END-->         
</header>
<!--HEADER END-->





