<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Nuestra <br> <span>Historia</span></h1>
            <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Nuestra história</a></p>
        </div>
    </div>  
</div>

<!-- CONTENT START -->
<section>
<div class="container">
    <!-- PROJECT GALLERY START -->
    <div class="row project-col">
      <div class="col-lg-8">
        <figure class="principal-preview"><img src="assets/img/imagenes/His-1.jpg" alt=""></figure>    
      </div>
      <div class="col-lg-4">
          <figure class="second-preview"><img src="assets/img/imagenes/His-2.jpg" alt=""></figure> 
          <figure class="third-preview"><img src="assets/img/imagenes/His-3.jpg" alt=""></figure> 
      </div>
    </div>
   <!-- PROJECT GALLERY START -->
    
    <!-- PROJECT INFORMATION START -->
    <div class="about-project space-break">
        <div class="row">
          <!-- <div class="col-lg-8"> -->
            <div class="ab-details">
                <h3>Fundación e História</h3>
                
                <ul class="timeline">     
                    <li>
                        
                      <div class="timeline-badge"><span>2007</span></div>
                      <div class="timeline-panel animated slideInLeft">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">ENDE ANDINA S.A.M., fue creada por el Decreto Supremo N° 29224</h4>  
                        </div>
                        <div class="timeline-body">
                            <p>Promulgado en fecha 09 de agosto de 2007, el cual autoriza la conformación de una sociedad de economía mixta conformada por la Empresa Nacional de Electricidad (ENDE), del Estado Plurinacional de Bolivia y la Empresa PDVSA BOLIVIA S.A., filial de PDVSA de la República Bolivariana de Venezuela, con una relación accionaría porcentual de 60/40, respectivamente, siendo el objeto realizar actividades de generación, interconexión, comercialización, transmisión asociada a la generación, importación y exportación de electricidad de acuerdo a Ley.</p> 
                            <p>En diciembre de 2007, se suscribió el Acta de Fundación de la Empresa para posteriormente, realizar la inscripción en los registros de escrituras públicas, en la ciudad de Cochabamba - Bolivia."</p>
                        </div>
                   
                      </div>
                    </li>
            
                    <li  class="timeline-inverted">
                      <div class="timeline-badge">
                        <span>2008</span>
                      </div>
                      <div class="timeline-panel animated slideInRight">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">"Se inaugura la primera Planta de Generación Termoeléctrica"</h4>  
                        </div>
                        <div class="timeline-body">
                          <p>"Se inaugura la primera Planta de Generación Termoeléctrica de nuestra Empresa, la "Planta Entre Ríos" localizada en el Municipio del mismo nombre, en el Departamento de Cochabamba. Fue construida para cubrir el incremento en la demanda de energía eléctrica en el país que comenzó el año 2008.</p>
                          <p>Es importante resaltar el trabajo realizado tanto en la construcción de las obras civiles como en el montaje electromecánico de los equipos, considerando que desde el inicio de las obras, en abril de 2009, hasta el ingreso en operación comercial de la primera unidad, en abril de 2010, pasaron solo 12 meses, un tiempo holgadamente menor al usualmente empleado en la implementación de proyectos similares.</p>
                        </div>
                      </div>
                    </li>
                  
                  <li>
                      <div class="timeline-badge">
                        <span>2010</span>
                      </div>
                      <div class="timeline-panel animated slideInLeft">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">LA PLANTA FUE OFICIALMENTE INAUGURADA EL 22 DE JULIO DE 2010</h4>  
                        </div>
                        <div class="timeline-body">
                          <p>El mes de octubre de 2011, a través de una Resolución Ministerial, refrendada en la Junta de Accionistas se tomó la decisión de ejecutar el Proyecto "Planta Termoeléctrica del Sur", a ser construida entre los Municipios de Yacuiba y Villa Montes, con aportes del socio de la serie "A", ENDE. En 2012 se dio inicio a la construcción de obras civiles y posterior montaje de cuatro turbinas.
                            La Planta fue oficialmente inaugurada en septiembre de 2014.”</p>
                        </div>
                   
                      </div>
                    </li>
                  
                  <li  class="timeline-inverted">
                      <div class="timeline-badge">
                        <span>2015</span>
                      </div>
                      <div class="timeline-panel animated slideInRight">
                        <div class="timeline-heading">
                            <img class="img-responsive" src="assets/img/imagenes/His-2.jpg" />
                            <h4 class="timeline-title">Se inaugura la planta Termoeléctrica Warnes</h4>
                        </div>
                        <div class="timeline-body">
                            <p>"En el marco de la Agenda Patriótica, ENDE ANDINA S.A.M. inauguró la Planta Termoeléctrica Warnes, ubicada en el Municipio del mismo nombre, en el Departamento de Santa Cruz. Este tercer proyecto fue ejecutado de acuerdo a la Resolución Ministerial Nº 336-12 del 14 de Noviembre de 2012, en la cual el entonces Ministerio de Hidrocarburos y Energía determina que el Proyecto de Generación "Termoeléctrica Warnes" es de prioridad nacional y será ejecutado por ENDE ANDINA S.A.M. En este sentido, mediante Junta General Extraordinaria de fecha 30 de noviembre de 2012, los socios aprobaron que la sociedad ejecute este Proyecto.</p>
                      </div>
                      </div>
                    </li>
            
                    <li>
                      <div class="timeline-badge">
                        <span>2017</span>
                      </div>
                        <div class="timeline-panel animated slideInLeft">
                            <div class="timeline-heading">
                            <h4 class="timeline-title">exportación de excedentes</h4>  
                            </div>
                            <div class="timeline-body">
                            <p>"Con la creación del Ministerio de Energías en enero de 2017, se ratifica la importancia del sector eléctrico en Bolivia, la seguridad y el cambio de matriz energética, pero sobre todo la exportación de los excedentes.</p>
                            <p>n este marco, al recibir la responsabilidad para el cumplimiento de los plazos establecidos en la construcción y puesta en marcha de nuestros Proyectos de Ciclos Combinados, se tiene como principal objetivo entregar estos proyectos y así cumplir con el Plan de Desarrollo Económico y Social 2016 – 2020 de nuestro gobierno."</p>
                            </div>
                    
                        </div>
                    </li>
                    
                    <li class="clearfix" style="float: none;"></li>
                </ul>



           
    </div>
          <!-- <div class="col-lg-4 space-break"> -->
            <!-- <div class="project-sidebar">
                <h3>Politica de Calidad</h3> 
                <p>ENDE ANDINA S.A.M. establece su compromiso con una gestión basada en la eficiencia, buscando su sostenibilidad y crecimiento a través de: la eficacia de sus operaciones, la mejora continua de sus procesos, el enfoque en la satisfacción de sus clientes, velando por la Seguridad y Salud Ocupacional de sus trabajadores, respeto al Medio Ambiente, con Responsabilidad Social y el cumplimiento de requisitos regulatorios y legales.</p>
                
                
            </div> -->
            
            <!-- <div class="project-sidebar space-break">
                <h3>Composición Accionaria</h3>
                <p>Mediante Decreto Supremo Nº 29224 del 09 de agosto de 2007 y en el marco del acuerdo sobre cooperación energética, suscrito entre la República de Bolivia y la República Bolivariana de Venezuela, se autorizó la conformación de la Sociedad de Economía Mixta denominada ENDE ANDINA SOCIEDAD ANONIMA MIXTA, conformada por la Empresa Nacional de Electricidad S.A, ENDE (60% del paquete accionario) y la filial de Petróleos de Venezuela S.A, PDVSA-Bolivia (40% del paquete accionario).</p>
                <br>
                <div class="project-social">
                    <h4>Conoce nuestras redes sociales</h4>
                    <div class="ps-list">
                        <div class="social-icon-list"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
                        <div class="social-icon-list"><a href="#"><i class="fab fa-twitter"></i></a></div>
                        <div class="social-icon-list"><a href="#"><i class="fab fa-linkedin-in"></i></a></div>
                        <div class="social-icon-list"><a href="#"><i class="fab fa-youtube"></i></a></div>
                    </div>
                </div>
            </div> -->
          <!-- </div> -->
        </div>
    </div>
    <!-- PROJECT INFORMATION END -->
</div>


<!-- WHY US SECTION START -->
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 parallax-side-alt-2"></div>
      <div class="col-lg-7 content-side-alt">
        <div class="inner-content-alt">
          <div class="panel-title">
            <h5>Medio Ambiente</h5>
            <h2>Seguridad Industrial</h2>
          </div>
          <p style="margin-bottom: 15px;">Nuestra empresa está comprometida con el respeto, calidad y conservación del medio ambiente, es así que uno de sus principios básicos es cumplir a cabalidad lo establecido en la Ley 1333 de Medio Ambiente y sus reglamentos detallados en la normativa boliviana. </p>
          <p>De igual manera, con la finalidad de velar por la seguridad y bienestar de sus trabajadores y población en general, se ha realizado el diagnóstico corporativo de SYSO con el objetivo de adecuar y complementar los planes y procedimientos de seguridad industrial vigentes, a los lineamientos generales de ENDE Corporación y el D.L. 16998 Ley General de Higiene y Seguridad Ocupacional y Bienestar.</p>
          <p>Todos los proyectos de la empresa cuentan con Licencia Ambiental y son monitoreados constantemente por la Unidad de Medio Ambiente y Seguridad Industrial, la cual está encargada de evaluar y reportar a la Gerencia General cualquier desviación en materia Ambiental o de Seguridad Industrial que pueda surgir en la ejecución de proyectos como en su Operación.</p>
          <!-- <hr class="divider-alt"> -->

          <!-- <div class="span-services">
              <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="sp-counter">
                        <div class="counter-statistics">
                            <div class="counter">467</div>
                            <p>Construction</p>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4 sp-counter-center">
                    <div class="sp-counter">
                        <div class="counter-statistics">
                            <div class="counter">1293</div>
                            <p>Staff Involved</p>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="sp-counter">
                        <div class="counter-statistics">
                            <div class="counter">278</div>
                            <p>Awards Received</p>
                        </div>
                    </div>
                  </div>
              </div>
          </div> -->
        </div>
      </div>
    </div>
</div>
<!-- WHY US SECTION END -->

<app-partners></app-partners>



<!-- RELATED PROJECT CAROUSEL START -->
<div class="container related-projects">
    
        
    <div class="section-title" style="width:100%; padding: 0rem 3rem 8rem;">
        <h2>Nuestras Plantas</h2>
        <p>ENDE ANDINA S.A.M. cuenta con tres plantas termoeléctricas en operación ubicadas en tres departamentos estratégicos de Bolivia: Cochabamba (Entre Ríos), Tarija (Yaguacua) y Santa Cruz (Warnes).</p>
    </div>
    

    
    <div class="container construction-services">
        <div class="row hover-effects image-hover">
          <div class="col-lg-4">
            <div class="thumbnail-box-alt" [routerLink]="['/entrerios']">
                <figure class="tb-image"><img src="assets/img/imagenes/img-2.jpg" alt=""></figure>  
                <div class="tb-caption">
                    <div class="inner-caption">
                        <div class="ic-top">
                            <figure class="ic-icon"><img src="assets/img/master/warning_bulb.svg" alt=""></figure>
                            <h3>Entre Rios</h3>
                        </div>
                        <p>Carretera nueva a Santa Cruz 1,7 km al este del centro de Entre Ríos. Cochabamba - Bolivia.</p>
                    </div>
                </div>
            </div>  
          </div>
          <div class="col-lg-4 center-box">
            <div class="thumbnail-box-alt" [routerLink]="['/delsur']">
                <figure class="tb-image"><img src="assets/img/imagenes/img-4.jpg" alt=""></figure>    
                <div class="tb-caption">
                    <div class="inner-caption">
                        <div class="ic-top">
                            <figure class="ic-icon"><img src="assets/img/master/warning.svg" alt=""></figure>
                            <h3>Del Sur</h3>
                        </div>
                        <p>Carretera 9, Villamontes – Yacuiba 2,7 km al norte del centro de Yaguacua. Tarija - Bolivia</p>
                    </div>
                </div>
            </div>  
          </div>
          <div class="col-lg-4">
            <div class="thumbnail-box-alt" [routerLink]="['/warnes']">
                <figure class="tb-image"><img src="assets/img/imagenes/img-3.jpg" alt=""></figure>  
                <div class="tb-caption">
                    <div class="inner-caption">
                        <div class="ic-top">
                            <figure class="ic-icon"><img src="assets/img/master/battery.svg" alt=""></figure>
                            <h3>Warnes</h3>
                        </div>
                        <p>Ubicada en inmediaciones del Parque Industrial Latinoamericano (PILAT). Santa Cruz - Bolivia</p>
                    </div>
                </div>
            </div>  
          </div>
          
        </div>
    </div>
    
    
</div>
<!-- RELATED PROJECT CAROUSEL END -->

</section> 
<!-- CONTENT START -->
