 
    <div class="sections">
        <div class="container">
            <div class="pages-title">
                <h1>Ende Andina <br> <span>Recepción de denuncia</span></h1>
                <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Recepción de denuncia</a></p>
            </div>
        </div>  
    </div>
    
    <!-- CONTENT START -->
    <section>
        <div class="container">
            <div class="row">
              <!-- CONTACT INFO START -->
              <div class="col-lg-4">
                <div class="contact-info">
                  <h2>Formulario de denuncias</h2>
                  <p>El presente formulario sirve para registrar denuncias sobre irregularidades por parte de los servidores públicos de ENDE ANDINA. Si quiere realizar denuncias o reclamos de otra índole, por ejemplo sobre servicios de genracón de energía electrica entre muchos otros </p>
                  
                </div>
              </div>
              <!-- CONTACT INFO END -->
                
              <!-- CONTACT FORM START -->    
              <div class="col-lg-8 space-break">
                <div class="contact-form">
                    <form id="contact-form" method="post" action="contact.php">
                        <div class="messages"></div>
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_name" type="text" name="name" class="form-control customize" placeholder="Nombres y Apellidos / Razón Social / Anónimo:" required="required" data-error="El nombre es requerido.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input id="form_name" type="number" name="ci" class="form-control customize" placeholder="Documento de identidad" required="required" data-error="El nombre es requerido.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select class="custom-select"  class="customizeSelect" id="departamento">
                                            <option selected>Elija un departamento</option>
                                            <option value="1">Beni</option>
                                            <option value="2">Cochabamaba</option>
                                            <option value="3">La Paz</option>
                                            <option value="4">Santa cruz</option>
                                            <option value="5">Oruro</option>
                                            <option value="6">Pando</option>
                                            <option value="7">Sucre</option>
                                            <option value="8">Potosí</option>
                                            <option value="9">Tarija</option>
                                          </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="form_email" type="email" name="email" class="form-control customize" placeholder="Correo electrónico" required="required" data-error="Es requerido un correo válido.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                               
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea id="form_message" name="denuncia" class="form-control customize" placeholder="Denuncia" rows="5" required="required" data-error="Por favor, dejenos un mensaje."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p><input type="submit" class="btn btn-custom" value="Enviar Denuncia"></p>
                                </div>
                            </div>
                        </div>
                    </form>  
                </div>
              </div>
              <!-- CONTACT FORM START -->   
            </div>
        </div>
    
       
    </section> 
    <!-- CONTENT START -->

