<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Nosotros <br> <span>Plan Estratégico Empresarial</span></h1>
            <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Plan Estratégico Empresarial</a></p>
        </div>
    </div>  
</div>
 <!-- CONTENT START -->
 <section>
   
     <!-- HOME ABOUT START -->
     <div class="container">
        <div class="section-title">
            <h2>Plan Estratégico Empresarial - PEE</h2>
            <p>El mapa de objetivos estratégicos de Ende Andina S.A. es la representación visual de la estrategia de la Empresa, que describe el proceso de creación de valor mediante las relaciones causa efecto entre los objetivos, desde cuatro perspectivas de análisis.</p>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-12 space-break">
                <figure class="solution-pic"><img src="../assets/img/graphic/map-objetivo-estrategicos.png" alt=""></figure>
            </div>
          
            
        </div>
    </div>
 
 
       

    <!-- WIDE SECTION START -->
    <div class="container-wide-grid">
        <div class="row">

            <div class="col-lg-6 full-color-layer">
                <div class="fc-content fc-left-align">
                    <h5>FODA</h5>
                    <h2><span>Debilidades</span></h2>
                    <div class="span-checklist foda-list">
                      <p>Dependencia de los fabricantes de equipos en cuanto a tiempos de suministro, costos de repuestos y tiempos de respuesta oportunos de servicios especializados.</p>
                      <p>Mecanismos internos de comunicación y coordinación entre áreas, en proceso de ajuste y mejora.</p>
                      <p>Personal en proceso de formación en tecnología de Ciclos Combinados.</p>
                      <p>En proceso de implementación de políticas, reglamentos, procesos y procedimientos.</p>
                      <p>Monitoreo de Indicadores Clave de Proceso y reportes sobre los mismos, en proceso de ajuste y mejora en el marco de contratos de mantenimiento a largo plazo.</p>
                    </div>
                    
                  </div>
            </div>

            

          <div class="col-lg-6 full-caption-layer-foda">
            <div class="fc-content">
              <h5>FODA</h5>
              <h2><span>Fortalezas</span></h2>
              <div class="span-checklist foda-list">
                <p>Empresa de generación de energía eléctrica con crecimiento sostenido y experiencia en gestión de proyectos termoeléctricos.</p>
                <p>Cumplimiento de los indicadores operativos respaldados por contratos de mantenimiento a largo plazo.</p>
                <p>Personal capacitado y con experiencia en el manejo de centrales de generación de Ciclo Abierto.</p>
                <p>Empresa consolidada y con buena gestión empresarial.</p>
                <p>Aplicación de criterios de estandarización con equipamiento de alta tecnología en plantas de generación de energía y en nuevos proyectos.</p>

              </div>
              
            </div>
          </div>
        </div>
        <div class="row">
            <div class="order-last order-md-12 col-lg-6 full-caption-layer-foda">
                <div class="fc-content fc-left-align">
                    
                    <h5>FODA</h5>
                    <h2><span>Amenazas</span></h2>
                   
                  <div class="span-checklist foda-list">
                    <p>Incorporación al parque de generación eléctrica energías renovables (Ej. eólica y solar) que incrementarán los fondos de estabilización afectando la liquidez de las empresas eléctricas.</p>
                    <p>Desplazamiento de la generación termoeléctrica por cambio de matriz energética.</p>
                    <p>Baja rentabilidad debido a los bajos precios de mercado mayorista de energía y potencia y al constante incremento de los costos de producción (Ej. Peaje, beneficiarios tarifa dignidad, salarios).</p>
                    <p>Mayor burocratización y elevación de costos administrativos y de personal, debido al incremento de instancias de control gubernamental (Unidades de Transparencia, Contraloría, COSEP, etc.) y a la aplicación de la Ley de Empresas Públicas y Reglamentación Corporativa asociada.</p>
                    <p>Ley de Electricidad vigente no adecuada a la realidad actual del mercado eléctrico Boliviano ni al marco de las nuevas políticas sectoriales. </p>

                  </div>
                </div>
              </div>
              <div class="order-first order-md-12 col-lg-6 full-color-layer-alt">
                <div class="fc-content">
                    <h5>FODA</h5>
                    <h2><span>Oportunidades</span></h2>
                    <div class="span-checklist foda-list">
                      <p>Proyecciones de inversión del Gobierno Nacional, que impulsan el desarrollo del sistema eléctrico (mercado interno y externo).</p>
                      <p>Necesidad sectorial de contar con empresas especializadas en ejecución y operación de proyectos de generación eléctrica.</p>
                      <p>Capacitación especializada y continua en el marco de los Contratos de mantenimiento a largo plazo y contratos EPC de proyectos de Ciclo Combinado.</p>
                        <p>Participación en la ejecución de proyectos de generación eléctrica con energías renovables.</p>
                        <p>Transferencia de experiencias y mejores prácticas entre filiales de la Corporación.</p>

                    </div>
                    
                  </div>
              </div>
        </div>
    </div>
    <!-- WIDE SECTION END -->
    </section>