<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Gestión <br> <span>Proyecciones</span></h1>
            <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Proyecciones</a></p>
        </div>
    </div>  
</div>


   <!-- CONTENT START -->
   <section>
       
    <div class="container">
        <div class="section-title">
            <h2>Proyecciones</h2>
        </div>
        
    </div>
    <!-- WIDE SECTION START -->
    <div class="container-wide-grid">
        

        <div class="row">

            <div class="col-lg-6 full-prod-layer">
                <div class="fc-content fc-left-align">
                    <h5 >Proyecciones</h5>
                    <h2><span>Generación inyectada por planta (MWh)</span></h2>
                    
                      <p class="text-white">Genración de nergía proyecta para los siguientes 4 años</p>
                      
                    
                    
                  </div>
            </div>

            

            <div class="col-lg-6 full-caption-layer">
                <div class="fc-content">
                <h3>Utilidad de la empresa (Bs)</h3>
                <div style="display: block">
                    <canvas baseChart  
                                [datasets]="generacionData"
                                [labels]="proyectadaChartLabels"
                                [options]="lineChartOptions"
                                [colors]="lineChartColors"
                                [legend]="lineChartLegend"
                                [chartType]="lineChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>
                </div>
              
            </div>
          </div>
        </div>

        <div class="row">
            <div class="order-last order-md-12 col-lg-6 full-caption-layer">
                <div class="fc-content">
                    <h3>Energía Inyectada (MWh)</h3>
                    
                        <canvas baseChart
                                    [datasets]="proyectadaData"
                                    [labels]="proyectadaChartLabels"
                                    [options]="lineChartOptions"
                                    [colors]="barChartColors"
                                    [legend]="lineChartLegend"
                                    [chartType]="barChartType"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                    
                </div>
              </div>
              <div class="order-first order-md-12 col-lg-6 full-prod-layer-alt">
                <div class="fc-content">
                    <h5>Proyecciones</h5>
                    <h2 ><span>Utilidad proyectada</span></h2>
                    
                      <p class="text-white">El Cuadro muestra las utilidades de la empresa los proximos 4 años</p>
                      
                   
                    
                  </div>
              </div>
        </div>
    </div>
    <!-- WIDE SECTION END -->
   
</section>

