 
 <div class="sections ptsur-bg">
    <div class="container">
        <div class="pages-title">
            <h1>Nostros <br> <span>Ficha empresarial</span></h1>
            <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Ficha Empresarial</a></p>
        </div>
    </div>  
</div>
 
 <!-- CONTENT START -->
 <section>
    <!-- ABOUT START -->
    <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="og-about">
                <!-- <h5>Ende Andina SAM</h5>
                <h2>Ficha empresarial </h2>  -->
                
                <figure class="logoFicha" ><img src="assets/img/master/logo.png" alt=""></figure>

                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                </ul>

            </div>  
          </div>
          <div class="col-lg-6">
            <div class="og-info">
                
                <div class="project-sidebar">
                  <h3>Ficha Empresarial</h3> 
                  <br>
                  <p><strong>Razón social:</strong> ENDE ANDINA S.A.M.</p>
                  <p><strong>Actividad: </strong> Generación, interconexión, comercialización, transmisión asociada a la generación, importación y exportación de electricidad.</p>
                  <p><strong>Fecha de Creación:</strong> 09 de agosto de 2007, mediante Decreto Supremo Nº 29224</p>
                  <p><strong>Cede central: </strong> Av. Ecológica - Pasaje Villa Gardenias No 40, Tiquipaya - Cochabamba.</p>  
                  
                  <!-- <p><strong>Página Web:</strong> www.endeandina.bo</p> -->
                  <p><strong>Correo Electrónico::</strong> correo@endeandina.bo</p>
                  <p><strong>Teléfonos:</strong> + [591 4] 4664001</p>
                  <p><strong>FAX:</strong> + [591 4] 4664063</p>
                  
              </div>  
            </div>
          </div>
        </div>
        
        <hr class="section-divider">
        
        <div class="about-bar">
            <div class="row">
              <div class="col-lg-4">
                <div class="ab-box">
                    <figure class="ab-icon"><img src="assets/img/master/innovation.svg" alt=""></figure>  
                    <div class="ab-caption">
                        <h4>Potencia</h4>
                        <p>1.370 MWs.</p>
                    </div>
                </div>
              </div>
              <div class="col-lg-4 center-box">
                <div class="ab-box">
                    <figure class="ab-icon"><img src="assets/img/master/close-envelope.svg" alt=""></figure>  
                    <div class="ab-caption">
                        <h4>Identificación Tributaria</h4>
                        <p>154262027.</p>
                    </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="ab-box">
                    <figure class="ab-icon"><img src="assets/img/master/engineer.svg" alt=""></figure>  
                    <div class="ab-caption">
                        <h4>Fecha de Constitución</h4>
                        <p>24 de diciembre de 2007.</p>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- CONTENT END -->
