
    <div class="sections ptsur-bg">
        <div class="container">
            <div class="pages-title">
                <h1>Ciclos Combinados <br> <span>Planta Termoeléctrica Del Sur</span></h1>
                <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Ciclos Combinados Termoeléctrica Del Sur</a></p>
            </div>
        </div>  
    </div>
    
    
  
<!-- CONTENT START -->
<section>
    <div class="container">
        <div class="row">
          <!-- SIDEBAR START -->
          <div class="order-last order-md-3 col-lg-4  col-xl-3 space-break">
            <app-submenu [subMenu]=2></app-submenu>
            <div class="brochures">
                <h4>Proyectos en Ejecución</h4>
                <p>ENDE ANDINA S.A.M. juega un
                papel muy importante en el Sector
                Eléctrico, con el Gobierno de
                Transición brindando estabilidad
                al país y con miras de establecer
                precios más bajos para el
                consumidor final de la energía
                eléctrica luego de atravesar tiempos
                difíciles en un Gobierno Anterior.</p> 
            </div>

            <br>
            <div class="col-lg-12 span-about">
                <div class="sa-content" style="width: 100%; padding: 2rem 0.5rem;">
                  <div class="sa-tittle" >
                      <h5>Ciclos combinados</h5>
                      <h3>Que es un ciclo combinado?</h3>  
                  </div>
                  <p class="text">Con el fin me mejorar la eficiencia en la generación, se aprovecha el calor en el escape de la turbina a gas para calentar agua y generar vapor.</p>
                  <br>
                  <p><a [routerLink]="['/ciclos']" class="btn btn-custom"> Saber más</a></p>
                </div>
            </div>
          </div>
          <!-- SIDEBAR END -->
            
          <!-- PROJECT CONTENT START -->
          <div class="order-first order-md-9 col-lg-8 col-xl-9">
            <!-- <figure class="solution-pic"><img src="../assets/img/imagenes/pter.jpg" alt=""></figure> -->
            
           

            

            <div class="solution-content ab-details">
                <div class="row">
                <div class=" col-lg-6">
                    
                    <h3>Proyecto Ciclos Combinados PTSUR</h3>
                    <p>El proyecto consiste en la ampliación de la Planta Termoeléctrica del Sur (PTSUR),
                        incrementando la oferta de potencia y poder generar excedentes para la exportación de
                        energía eléctrica. La PTSUR ha sido diseñada para alcanzar a su conclusión una potencia
                        instalada aproximada de 480 MW, mediante tecnología de ciclo combinado.</p>
                    <p><strong>Beneficio: </strong>Incremento de la oferta de generación de energía eléctrica para exportación y aportar al
                            Sistema Interconectado Nacional aprox. 320 MW adicionales.</p>
                    
                </div>

                <div class="col-lg-6 layer-image">
                    <img src="../assets/img/imagenes/ccsur.jpg" alt="">
                </div>
               </div>
                <p>La planificación de la infraestructura de transmisión está contemplando el desarrollo de corredores de exportación mediante líneas de 230 y 500 kV al Paraguay y Argentina respectivamente, situación que posibilitará la evacuación de energía a los mercados de Argentina y Paraguay de modo que en el futuro la Termoeléctrica del Sur será un nodo de exportación.</p>
                <p>La firma de Contrato del Proyecto “Ciclos Combinados Planta Termoeléctrica del Sur”, se realizó en el municipio de Yacuiba el 9 de mayo de 2016.</p>
                <blockquote>
                    Considerando la ubicación de la Planta Termoeléctrica del Sur en el área de Yacuiba, cerca de la frontera con Argentina y Paraguay, los excedentes de potencia y energía permitirán capturar mercados de exportación de energía eléctrica en el corto plazo. 
            </blockquote>
                
                <br>
               <h3>Características del Proyecto:</h3>
               <p>El objetivo general del proyecto es la instalación del ciclo
                combinado basado en el cierre de las instalaciones actuales con
                2 turbinas a vapor de una potencia efectiva aproximada de 40
                MW cada una.</p>
                <p>Instalación de 4 turbinas a gas SGT 800 de una potencia
                    energética de 40 MW cada una y dos ciclos combinados
                    consistente en 2 turbinas a vapor con una potencia efectiva
                    aproximada de 40 MW cada una.</p>
                <p>Los objetivos específicos del proyecto son:</p>
                <div class="bullets">
                    <p>Ejecución de obras civiles para el área de  generación y subestación.</p>
                    <p>Ejecución de obras civiles para la construcción de
                        lagunas de almacenamiento y captación de agua.</p>
                    <p>Ejecución de obras civiles complementarias de
                        acuerdo a requerimientos de la ingeniería del
                        proyecto.</p>
                    <p>Instalación de 4 turbinas a gas y componentes</p>
                    <p>Instalación de 4 turbinas a vapor ciclo combinado y
                        componentes.</p>
                    <p>Instalación de 8 transformadores de potencia</p>
                </div>
                <br>
                
            
                <h4>Avance Físico</h4>
                <p>El avance físico ponderado del proyecto Ciclos Combinados de la Planta
                    Termoeléctrica del Sur tiene una ejecución de 98.66%, de acuerdo al siguiente detalle:</p>
            
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th width="30%"><p><strong>DETALLE DE EQUIPOS</strong></p></th>
                        <th><p>EN PROCESO DE FABRICACIÓN</p></th>
                        <th><p>EN TRÁNSITO MARÍTIMO</p></th>
                        <th><p>EN TRÁNSITO TERRESTRE</p></th>
                        <th width="30%"><p><strong>EN SITIO</strong></p></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><p><strong>Turbinas de Gas (4)</strong></p>   </td>
                        <td><p></p></td>
                        <td><p></p>   </td>
                        <td><p></p> </td>
                        <td><p>TG31-32-41-42</p> </td>
                    </tr>


                    <tr>
                        <td><p><strong>Turbinas de Vapor (4)</strong></p>   </td>
                        <td><p></p></td>
                        <td><p></p>   </td>
                        <td><p></p> </td>
                        <td><p>TV30-40-10-20</p> </td>
                    </tr>
                    <tr>
                        <td><p><strong>Generadores (8)</strong></p>   </td>
                        <td><p></p></td>
                        <td><p></p>   </td>
                        <td><p></p> </td>
                        <td><p>G30-31-32-41-42-40-10-20</p> </td>
                    </tr>
                    <tr>
                        <td><p><strong>Tránsformadores (8)</strong></p>   </td>
                        <td><p></p></td>
                        <td><p></p>   </td>
                        <td><p></p> </td>
                        <td><p>TF10-20-30-40-31-32-41-42</p> </td>
                    </tr>
                    <tr>
                        <td><p><strong>Calderos HRSG (8)</strong></p>   </td>
                        <td><p></p></td>
                        <td><p></p>   </td>
                        <td><p></p> </td>
                        <td><p>HR5G31-32-42-41-14-13-11-12</p> </td>
                    </tr>
                    <tr>
                        <td><p><strong>Aerocondensadores (4)</strong></p>   </td>
                        <td><p></p></td>
                        <td><p></p>   </td>
                        <td><p></p> </td>
                        <td><p>AER 30-40-10-20</p> </td>
                    </tr>
                    </tbody>
                </table>
            
            
            </div>

           

            
          </div>
          <!-- PROJECT CONTENT END -->
        </div>
    </div>

    

    
</section> 
<!-- CONTENT START -->

