
        <!-- start why-choose-section -->
        <section class="why-choose-section section-padding" style="clear:both;">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                        <div class="section-title-s3">
                            <span>Acerca de nostros</span>
                            <h2>Nuestros Valores</h2>
                            <p>Nos esforzamos por incorporar la mejor tecnología  y personal, mantener estándares de calidad, como en innovar técnicas</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="why-choose-grids clearfix">
                            <div class="grid">
                                <i class="fi flaticon-network-1"></i>
                                <h3>Responsabilidad y compromiso</h3>
                                <p>Cumplir nuestras labores con excelencia y en los plazos establecidos</p>
                            </div>
                            <div class="grid">
                                <i class="fi flaticon-circular-label-with-certified-stamp"></i>
                                <h3>Innovación y calidad</h3>
                                <p>Nos esforzamos por incorporar la mejor tecnología  y personal, mantener estándares de calidad, como en innovar técnicas</p>
                            </div>
                            <div class="grid">
                                <i class="fi flaticon-chip"></i>
                                <h3>Trabajo en equipo</h3>
                                <p>Generar mecanismos de comunicación y coordinación que otorguen un clima laboral que facilite el logro de resultados</p>
                            </div>
                            <div class="grid">
                                <i class="fi flaticon-24-hours"></i>
                                <h3>Responsabilidad social empresarial</h3>
                                <p>Contribuir de forma activa y voluntaria al mejoramiento social, económico y ambiental</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end why-choose-section -->
