<!-- <ng-template #content let-modal> -->
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{modal_title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p> {{modal_content}}</p>
        <!-- <embed src="../assets/doc/notifications/EmisionCertificado.pdf" width="100%" height="580" 
 type="application/pdf"> -->
 <figure class="post-preview-img"><img src="../assets/doc/comunicado.png" alt=""></figure>

    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Save click')">cerrar</button>
    </div> -->
  <!-- </ng-template> -->
  
