<div class="sections">
    <div class="container">
        <div class="pages-title">
            <h1>Gestión <br> <span>Convocatorias</span></h1>
            <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Convocatorias</a></p>
        </div>
    </div>  
</div>
 <!-- CONTENT START -->
 <section>
   
     <!-- HOME ABOUT START -->
     <div class="container">
        <div class="section-title">
            <h2>Convocatorias Vigentes</h2>
            
            <h5>PERFORACION Y CONSTRUCCIÓN DE  2 POZOS PROFUNDOS PARA PRODUCCIÓN DE AGUA – CICLOS COMBINADOS PLANTA TERMOELÉCTRICA WARNES</h5>
            <h6>SEGUNDA CONVOCATORIA N°006/2020</h6>
            <p>Inicio de Proceso: 10/06/2020</p>
            <p> Reunión de Aclaracion: 16/06/2020</p>
            <p> Fecha de presentación de Propuestas: 18/06/2020</p>
           
        </div>
        <div class="row">
            
            <div class="container">
                <!-- <div class="dc-view-switcher">
                  <button data-trigger="grid-view"></button>
                  <button data-trigger="list-view" class="active"></button>
                </div> -->
                <div data-view="list-view" class="download-cards">
                  <article class="download-card">
                    <div class="download-card__icon-box"><img src="../assets/img/pdf.png" /></div>
                    <div class="download-card__content-box">
                      <div class="content">
                        <h2 class="download-card__content-box__catagory">PDF</h2>
                        <h3 class="download-card__content-box__title">TERMINOS DE REFERENCIA 2da CONVOCATORIA POZOS PROFUNDOS WARNES</h3>
                        <p class="download-card__content-box__description">Terminos de referencia 2da convocatoria. </p>
                        <div class="btn-more"><a class="btn btn-hover-corner" href="assets/doc/adquisiciones/TERMINOS_DE_REFERENCIA_2da_CONVOCATORIA_POZOS+PROFUNDOS_WARNES.pdf" download role="button">Descargar</a></div>
                      </div>
                    </div>
                  </article>
                  <article class="download-card">
                    <div class="download-card__icon-box"><img src="../assets/img/pdf.png" /></div>
                    <div class="download-card__content-box">
                      <div class="content">
                        <h2 class="download-card__content-box__catagory">PDF</h2>
                        <h3 class="download-card__content-box__title">PLIEGO DE CONDICIONES POZOS PROFUNDOS PTWAR (2da CONVOCATORIA)</h3>
                        <p class="download-card__content-box__description">Pliego de condiciones. </p>
                        <div class="btn-more"><a class="btn btn-hover-corner" href="assets/doc/adquisiciones/PLIEGO_DE_CONDICIONES_POZOS_PROFUNDOS_PTWAR_(2da_CONVOCATORIA).pdf" download role="button">Descargar</a></div>
                      </div>
                    </div>
                  </article>
                  <article class="download-card">
                    <div class="download-card__icon-box"><img src="../assets/img/pdf.png" /></div>
                    <div class="download-card__content-box">
                      <div class="content">
                        <h2 class="download-card__content-box__catagory">PDF</h2>
                        <h3 class="download-card__content-box__title">PLANOS PERFORACION Y CONSTRUCCIÓN DE  2 POZOS PROFUNDOS</h3>
                        <p class="download-card__content-box__description">Planos perforación y construcción. </p>
                        <div class="btn-more"><a class="btn btn-hover-corner" href="assets/doc/adquisiciones/PLANOS_PERFORACION_Y_CONSTRUCCIÓN_DE_2 POZOS_PROFUNDOS.pdf" download role="button">Descargar</a></div>
                      </div>
                    </div>
                  </article>
                  <article class="download-card">
                    <div class="download-card__icon-box"><img src="../assets/img/pdf.png" /></div>
                    <div class="download-card__content-box">
                      <div class="content">
                        <h2 class="download-card__content-box__catagory">PDF</h2>
                        <h3 class="download-card__content-box__title">Invitacion 006-2020 Pozos Profundos (2da Convocatoria)</h3>
                        <p class="download-card__content-box__description">Invitación 006-2020 </p>
                        <div class="btn-more"><a class="btn btn-hover-corner" href="assets/doc/adquisiciones/Invitacion_006-2020_Pozos_Profundos_(2da Convocatoria).pdf" download role="button">Descargar</a></div>
                      </div>
                    </div>
                  </article>
                  <article class="download-card">
                    <div class="download-card__icon-box"><img src="../assets/img/pdf.png" /></div>
                    <div class="download-card__content-box">
                      <div class="content">
                        <h2 class="download-card__content-box__catagory">Documento</h2>
                        <h3 class="download-card__content-box__title">FORMULARIOS PROCESO CONSTRUCCION POZOS PROFUNDOS</h3>
                        <p class="download-card__content-box__description">Formularios de porceso de construción. </p>
                        <div class="btn-more"><a class="btn btn-hover-corner" href="assets/doc/adquisiciones/FORMULARIOS_PROCESO_CONSTRUCCION_POZOS_PROFUNDOS.docx" download role="button">Descargar</a></div>
                      </div>
                    </div>
                  </article>

                  <article class="download-card">
                    <div class="download-card__icon-box"><img src="../assets/img/pdf.png" /></div>
                    <div class="download-card__content-box">
                      <div class="content">
                        <h2 class="download-card__content-box__catagory">PDF</h2>
                        <h3 class="download-card__content-box__title">ESPECIFICACIONES TECNICAS GENERALES PERFORACION Y CONSTRUCCIÓN DE  2 POZOS PROFUNDOS</h3>
                        <p class="download-card__content-box__description">Especificaciones técnicas generales </p>
                        <div class="btn-more"><a class="btn btn-hover-corner" href="assets/doc/adquisiciones/ESPECIFICACIONES_TECNICAS_GENERALES PERFORACION_Y_CONSTRUCCIÓN_DE_2_POZOS_PROFUNDOS.pdf" download role="button">Descargar</a></div>
                      </div>
                    </div>
                  </article>

                  <article class="download-card">
                    <div class="download-card__icon-box"><img src="../assets/img/pdf.png" /></div>
                    <div class="download-card__content-box">
                      <div class="content">
                        <h2 class="download-card__content-box__catagory">PDF</h2>
                        <h3 class="download-card__content-box__title">ESPECIFICACIONES TECNICAS ESPECIALES PERFORACION Y CONSTRUCCIÓN DE  2 POZOS PROFUNDOS</h3>
                        <p class="download-card__content-box__description">Especificaciones técnicas especiales de perforación  </p>
                        <div class="btn-more"><a class="btn btn-hover-corner" href="assets/doc/adquisiciones/ESPECIFICACIONES_TECNICAS_ESPECIALES_PERFORACION_Y_CONSTRUCCIÓN_DE_2_POZOS_PROFUNDOS.pdf" download role="button">Descargar</a></div>
                      </div>
                    </div>
                  </article>

                </div>
              </div>
            
        </div>
    </div>
   
<!--    

    <div class="container p-5">
        <ol class="organizational-chart">
          <li>
            <div>
              <h3>Gerencia General</h3>
              
            </div>
            <ol>
                <li>
                    <div>
                        <h3>Unidad de Transparencia</h3>
                    </div>
                </li>
                <li>
                    <div>
                        <h3>Unidad Jurídica</h3>
                    </div>
                </li>
                <li>
                    <div data-toggle="collapse" data-target="#collapse-Command" aria-expanded="true" aria-controls="collapse-Command">
                      <h3>Gerencia General</h3>
                     
                      <span class="menu__icon--open" uk-icon="icon: chevron-down; ratio: 1.5"></span>
                      <span class="menu__icon--close" uk-icon="icon: chevron-up; ratio: 1.5"></span>
                    </div>
                    <ol class="collapse show" id="collapse-Command">
                      <li>
                        <div>
                          <h3><a href="#">Gerencia de operaciones y mantenimiento</a></h3>
                        </div>
                      </li>
                      <li>
                        <div>
                          <h3><a href="#">Gerencia ingeniería y proyectos</a></h3>
                        </div>
                      </li>
                      <li>
                        <div>
                          <h3><a href="#">Gerencia Comercial</a></h3>
                        </div>
                      </li>
                      <li>
                        <div>
                          <h3><a href="#">Gerencia administrativa financiera</a></h3>
                        </div>
                      </li>
                      <li>
                        <div>
                          <h3><a href="#">Gerencia de seguimiento y control de gestión</a></h3>
                        </div>
                      </li>
                      <li>
                        <div>
                          <h3><a href="#">Unidad Tecnologías de información</a></h3>
                        </div>
                      </li>
                    </ol>
                  </li>
    
                  <li>
                      <div>
                          <h3>Unidad Auditoría Interna</h3>
                      </div>
                  </li>
              
            </ol>
          </li>
        </ol>
      </div> -->

   
</section>
