
    <div class="sections ptsur-bg">
        <div class="container">
            <div class="pages-title">
                <h1>Responsabilidad Social Empresarial <br> <span>Tarifa dignidad</span></h1>
                <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Tarifa Dignidad</a></p>
            </div>
        </div>  
    </div>

     <!-- CONTENT START -->
     <section>
       

<!-- WIDE SECTION START -->
<div class="container-wide-grid">
    <div class="row">
      <div class="col-lg-6 full-thumb-layer"></div>
      <div class="col-lg-6 full-caption-layer">
        <div class="fc-content">
          <h5>Responsabilidad Social Empresarial</h5>
          <h2>Tarifa <span>Dignidad</span></h2>
          <p>La Responsabilidad Social Empresarial no debe ceñirse solamente
            a reparar los daños sociales y ambientales ocasionados por el
            accionar de las empresas, sino que, la responsabilidad social
            de las empresas y el Gobierno Transitorio de estabilización y
            mejoras del país, adquiere una nueva dimensión respecto a la
            interacción con la comunidad dentro la cual desenvuelven sus
            actividades. Las empresas trabajamos dentro las comunidades,
            con las comunidades y para las comunidades y, por tanto, se debe
            contribuir activamente a su mejoramiento social, económico y
            ambiental..</p>
          
        </div>
      </div>
    </div>
    <div class="row">
        <div class="order-last order-md-12 col-lg-6 full-caption-layer">
            <div class="fc-content fc-left-align">
                
              <p>Tomando en cuenta esta premisa, ENDE ANDINA S.A.M,
                dentro del marco jurídico donde opera, para el logro de un cierto
                equilibrio en el pago de los usuarios finales, aportó para la Tarifa
                Dignidad durante la gestión 2019, la suma de Bs13.366.869.
                Debemos recordar que la Tarifa Dignidad se encuentra normada
                donde las Empresas del Sector Eléctrico que permite descontar
                el veinticinco por ciento (25%) respecto al importe total
                facturado por consumo mensual de electricidad para aquellos
                usuarios domiciliarios cuyo consumo es de hasta 70 kWh/mes,
                con el fin de beneficiar a los bolivianos con menores recursos
                económicos.</p>
              <!-- <div class="span-checklist">
                <p>Independent from Potential to Production.</p>
                <p>Power for a cleaner world.</p>
                <p>The less you burn the more you earn.</p>
              </div> -->
            </div>
          </div>
          <div class="order-first order-md-12 col-lg-6 full-thumb-layer-alt"></div>
    </div>
</div>
<!-- WIDE SECTION END -->
</section>
