
    <div class="sections ptsur-bg">
        <div class="container">
            <div class="pages-title">
                <h1>Responsabilidad Social Empresarial <br> <span>Tarifa dignidad</span></h1>
                <p><a href="#">Inicio</a> &nbsp; > &nbsp; <a href="#">Tarifa Dignidad</a></p>
            </div>
        </div>  
    </div>

     <!-- CONTENT START -->
     <section>
       

<!-- WIDE SECTION START -->
<div class="container-wide-grid">
    <div class="row">
      <div class="col-lg-6 full-thumb-layer"></div>
      <div class="col-lg-6 full-caption-layer">
        <div class="fc-content">
          <h5>Responsabilidad Social Empresarial</h5>
          <h2>Tarifa <span>Dignidad</span></h2>
          <p>La Responsabilidad Social Empresarial no debe ceñirse solamente a reparar los daños sociales y ambientales ocasionados por el accionar de las empresas, sino también a la responsabilidad social de las empresas y el Gobierno Transitorio a adquirir una nueva dimensión respecto a la interacción con la comunidad; dentro la cual desenvuelve sus actividades. Las empresas trabajamos dentro, con y para las comunidades; por tanto, se debe contribuir activamente a su mejoramiento social, económico y ambiental.</p>
          
        </div>
      </div>
    </div>
    <div class="row">
        <div class="order-last order-md-12 col-lg-6 full-caption-layer">
            <div class="fc-content fc-left-align">
                
              <p>Tomando en cuenta esta premisa, debemos recordar que la Tarifa Dignidad se encuentra normada y consiste en un descuento del 25% del importe total facturado por consumo mensual de electricidad, aplicado a todos los usuarios domiciliarios cuyo consumo es de hasta 70 kWh/mes. Dentro del marco jurídico donde opera y para el logro de un cierto equilibrio en el pago de los usuarios finales, este descuento es financiado con recursos de las empresas del sector eléctrico, en donde ENDE ANDINA S.A.M durante la gestión 2019 aportó para la Tarifa Dignidad la suma de Bs13.366.869.</p>
              <!-- <div class="span-checklist">
                <p>Independent from Potential to Production.</p>
                <p>Power for a cleaner world.</p>
                <p>The less you burn the more you earn.</p>
              </div> -->
            </div>
          </div>
          <div class="order-first order-md-12 col-lg-6 full-thumb-layer-alt"></div>
    </div>
</div>
<!-- WIDE SECTION END -->
</section>
