 
 <!-- LATEST NEWS START -->
  <!-- LATEST NEWS START -->
  <div class="container">
    <div class="section-title">
        <h2>Noticias destacadas</h2>
        <p>Noticias de nuestra empresa así como de sus proyectos y logros.</p>
    </div>
    
    
    <owl-carousel [options]="SlideOptions" [items]="publications" [carouselClasses]="['owl-theme', 'row', 'sliding']" class="news-carousel slider hover-effects image-hover">
     
        <div class="slide" *ngFor="let slide of publications;let i = index" >
           <div class="blog-preview">
                 <div class="thumbnail-box">
                     <figure class="bp-thumbnail">
                         

                         <a *ngIf="slide.lnk" [href]="slide.lnk" target="_blank" ><img [src]="slide.image | image: 'publication'" alt=""></a>
                          <a *ngIf="!slide.lnk" [routerLink]="['/new', slide._id]" ><img [src]="slide.image | image: 'publication'" alt=""></a>
                     </figure> 
                     <div class="post-date">
                         <p>{{slide.date | formatDate: 'day'}}<br><span>{{slide.date | formatDate: 'month'}}</span></p>
                     </div>
                 </div> 
                 <div class="bp-caption">
                     <h3>{{slide.title | truncateText: 75}}</h3>
                     <div class="social-interaction">
                         <div class="si-author"><p>{{slide.category.name}}</p></div>
                         <!-- <div class="si-comments"><p> Comentarios</p></div> -->
                     </div>
                     <p>{{slide.description | truncateText: 180 }}</p>
                     <h5>
                         
                         <a *ngIf="slide.lnk" [href]="slide.lnk" target="_blank" >Leer más</a>
                          <a *ngIf="!slide.lnk" [routerLink]="['/new', slide._id]" >Leer más</a>
                     </h5>
                 </div>
             </div>
         </div>
   
   
    </owl-carousel>

</div>

<!-- LATEST NEWS END -->




  


<!-- start featured-project-section-s2 -->
<!-- <section class="featured-project-section-s2 section-padding">
    <div class="container">
        
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <div class="section-title-s5">
                    <span>Acerca de nostros</span>
                    <h2>Nuestras Plantas de generación de energía.</h2>
                    <p>Las Termoeléctricas de ENDE ANDINA S.A.M. actualmente se encuentran ubicadas dentro el territorio nacional, en los departamentos de Cochabamba, Tarija, y Santa Cruz.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-area">
        <div class="project-grids featured-project-slider clearfix">
            
            <owl-carousel [options]="SlideOptions" > 
            
                <div class="item" *ngFor="let slide of slides">
                <div class="grid">
                    <div class="img-holder">
                        <img src={{slide.image}} alt>
                    </div>
                    <div class="overlay">
                        <span class="count">{{slide.number}}</span>
                        <h3>{{slide.title}}</h3>
                        <p>{{slide.detail}}</p>
                        <a href={{slide.url}} class="theme-btn">Read More</a>
                    </div>
                </div>
            
            </div>
                
            </owl-carousel> 

        </div>
    </div>
</section> -->
<!-- end featured-project-section-s2 -->