  <!-- FOOTER START -->
  <footer>
    <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="footer-col">
              <figure class="footer-logo"><img src="assets/img/master/logo-footer.png" alt=""></figure>
              <p>Empresa regulada por la Autoridad de Fiscalización y Control Social de Electricidad.</p>
              <div class="footer-icon">
               
                <div class="span-fi">
                    <div class="fi-fas"><i class="fas fa-phone"></i></div>
                    <div class="fi-caption">
                        <p>Teléfono: (591-4) 466 4001</p>  
                    </div>
                </div> 
                <div class="span-fi">
                    <div class="fi-fas"><i class="fas fa-envelope"></i></div>
                    <div class="fi-caption">
                        <p>contacto@endeandina.bo</p>  
                    </div>
                </div>  
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-col">
              <h4>NOTICIAS</h4>
              <div class="media-post">
                  <figure class="media-thumb"><a [routerLink]="['/news']"><img src="assets/img/images/media-thumb1.jpg" alt=""></a></figure>
                  <div class="media-caption">
                    <h5>Ciclos Combinados</h5>
                    <p>24 Julio 2020</p>
                  </div>
              </div>
              <hr class="divider">  
              <div class="media-post">
                  <figure class="media-thumb"><a [routerLink]="['/news']"><img src="assets/img/images/blog-thumb.jpg" alt=""></a></figure>
                  <div class="media-caption">
                    <h5>Contrato vias Brasil</h5>
                    <p>22 Julio 2020</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-col">
              <h4>SECCIONES</h4>
              <div class="popular-links">
                <ul>

                    <li><a [routerLink]="['/about']" fragment="0" class="to-top">Nosotros</a></li>
                    <li><a [routerLink]="['/entrerios']" fragment="0" class="to-top">Nuestras plantas</a></li>
                    <li><a [routerLink]="['/reports']" fragment="0" class="to-top">Memoria anual</a></li>
                    <li><a [routerLink]="['/news']" fragment="0" class="to-top">Noticias</a></li>
                    <li><a [routerLink]="['/contact']" fragment="0" class="to-top">Contactos</a></li>
                </ul>  
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-col last-col">
              <h4>FOTOS EN INSTAGRAM</h4>
              <div class="footer-grid-box">
                <div class="row">
                  <div class="col-4 col-sm-2 col-md-2 col-lg-4 gb-photos">
                    <a href="#"><img src="assets/img/images/media-thumb2.jpg" alt=""></a>
                  </div>
                  <div class="col-4 col-sm-2 col-md-2 col-lg-4 gb-photos">
                    <a href="#"><img src="assets/img/images/media-thumb3.jpg" alt=""></a>
                  </div>
                  <div class="col-4 col-sm-2 col-md-2 col-lg-4 gb-photos">
                    <a href="#"><img src="assets/img/images/media-thumb4.jpg" alt=""></a>
                  </div>
                  <div class="col-4 col-sm-2 col-md-2 col-lg-4 gb-photos">
                    <a href="#"><img src="assets/img/images/media-thumb5.jpg" alt=""></a>
                  </div>
                  <div class="col-4 col-sm-2 col-md-2 col-lg-4 gb-photos">
                    <a href="#"><img src="assets/img/images/media-thumb6.jpg" alt=""></a>
                  </div>
                  <div class="col-4 col-sm-2 col-md-2 col-lg-4 gb-photos">
                    <a href="#"><img src="assets/img/images/media-thumb7.jpg" alt=""></a>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <hr class="divider">
        <div class="footer-bottom">
            <div class="fb-copyright">
                <p>© 2020 ENDE ANDINA S.A.M.</p>
            </div>
            <div class="fb-social">
                <div class="span-fb-social"><a href="https://www.facebook.com/EndeAndina/"><i class="fab fa-facebook-f"></i></a></div>
                <div class="span-fb-social"><a href="https://twitter.com/EndeAndina?ref_src=twsrc%5Etfw"><i class="fab fa-twitter"></i></a></div>
                <div class="span-fb-social last-box"><a href="#"><i class="fab fa-instagram"></i></a></div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->